﻿@using System

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>ARCO ERP</title>

    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="cache-control" content="no-store" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <meta name="description" content="@ViewBag.Description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



    @*<meta http-equiv="cache-control" content="max-age=0" />*@


    <link rel="shortcut icon" href="/assets/img/avatars/acro-logo_Portrait.jpg" type="image/x-icon">
    <link href="~/assets/css/topmenucss.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/DatePicker/angular.js"></script>

    <script src="~/Scripts/angular-ui-router.min.js"></script>



    <script src="~/assets/js/cdn/csv.js"></script>


    <script src="~/assets/js/cdn/ui-grid.pdfmake.js"></script>


    <script src="~/assets/js/cdn/ui-grid_vfs_fonts.js"></script>



    <script src="~/Scripts/Ui-grid/ui-grid.js?@DateTime.Now"></script>


    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" rel="stylesheet" />
    <link href="~/assets/css/ui-grid.min.css" rel="stylesheet" />



    <link href="~/assets/ng-tags-input.min.css" rel="stylesheet" />
    <script src="~/assets/ng-tags-input.min.js"></script>


    <script src="~/assets/js/cdn/ui-bootstrap-tpls-0.6.min.js"></script>


    <script src="~/assets/js/cdn/ui-bootstrap-tpls-0.12.1.js"></script>

    <script src="~/assets/js/cdn/autofields-bootstrap.2.1.8.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/assets/css/material-icons.css" rel="stylesheet" />


    @*for tab*@
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.2.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="~/Scripts/ng-infinite-scroll.min.js"></script>

    <link href="~/assets/css/angular-ranger.css" rel="stylesheet" />
    <script src="~/Scripts/angular-ranger.js"></script>
    @*<link href="~/Scripts/Angular/ng-tags-input.min.css" rel="stylesheet" />
        <script src="~/Scripts/Angular/ng-tags-input.min.js"></script>
        <link href="~/Scripts/Angular/ng-tags-input.bootstrap.min.css" rel="stylesheet" />*@
    <script src="~/Scripts/autocomplete.js"></script>
    @*<script src="~/Scripts/Angular/Module.js"></script>*@

    <script src="~/app/IndividualSector/app.js?@DateTime.Now"></script>

    <link href="~/assets/css/xeditable.css" rel="stylesheet" />
    <script src="~/assets/js/xeditable.js"></script>
    <script src="~/Scripts/ui/jquery.ui.core.js"></script>

    <script src="~/Scripts/ui/jquery.ui.widget.js"></script>
    <script src="~/Scripts/ui/jquery.ui.mouse.js"></script>
    <script src="~/Scripts/ui/jquery.ui.draggable.js"></script>
    <script src="~/Scripts/ui/jquery.ui.resizable.js"></script>
    @*<script src="~/assets/js/angular-mocks.js"></script>*@
    @*<!--Basic Styles-->
        @Styles.Render("~/css/bootstrap")
        <link id="bootstrap-rtl-link" href="" rel="stylesheet" />


        <!--Fonts-->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
        rel="stylesheet" type="text/css">

        <!--Beyond styles-->
        @Styles.Render("~/css/beyond")
        <link id="skin-link" href="" rel="stylesheet" type="text/css" />

        <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
        @Scripts.Render("~/bundles/skin")*@
    <!--Basic Styles-->

    <link href="~/assets/css/bootstrap.min.css?@DateTime.Now" rel="stylesheet" />
    <link href="~/assets/css/uigrid-cardview.css" rel="stylesheet" />
    @*<link id="bootstrap-rtl-link" href="" rel="stylesheet" />*@

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    @*<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900,300,200,100' rel='stylesheet' type='text/css'>*@
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500italic,500,400italic,700italic,900,100,100italic,300,300italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <!--Beyond styles-->
    <link href="/assets/css/beyond.min.css" rel="stylesheet" />
    <link href="/assets/css/demo.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/typicons.min.css" rel="stylesheet" />
    <link href="/assets/css/weather-icons.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/metro-icons.css" rel="stylesheet" />
    <link href="~/Scripts/ui/ChatStyle.css" rel="stylesheet" />

    @*<link id="skin-link" href="" rel="stylesheet" type="text/css" />*@

    @*<link id="beyondrtl" rel="stylesheet" />

        <link id="bootstraprtl" rel="stylesheet" />*@

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <link href="~/assets/css/skins/deepblue.min.css" rel="stylesheet" />

    <script>
        //$(document).ready(function () {
        gettheme();
        //});
        function gettheme() {

            var port = window.location.port;
            if (port == "85") {
                $("head").append('<link href="/assets/css/skins/deepblue.min.css" rel="stylesheet" />');
            }
            else if (port == "75") {
                $("head").append('<link href="/assets/css/skins/darkred.min.css" rel="stylesheet" />');
            }
            else if (port == "65") {
                $("head").append('<link href="/assets/css/skins/purple.min.css" rel="stylesheet" />');
            }
            else {
                if (window.location.hostname == "localhost") {
                    $("head").append('<link href="/assets/css/skins/green.min.css" rel="stylesheet" />');
                }
                else {
                    $("head").append('<link href="/assets/css/skins/deepblue.min.css" rel="stylesheet" />');
                }
            }
        }
    </script>

    <script src="/assets/js/skins.min.js"></script>
    <script src="~/assets/js/Language.js"></script>

    @*<script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <link href="~/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet" />*@
    <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <link href="~/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script>window.jQuery || document.write("<script src='~/assets/js/cdn/moment.min.2.10.6.js'>\x3C/script>")</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.4.1/moment-timezone-with-data.js"></script>
    <script>window.jQuery || document.write("<script src='~/assets/js/cdn/moment-timezone-with-data.0.4.1.js'>\x3C/script>")</script>

    <script src="~/Scripts/DatePicker/angular-datepicker.js"></script>

    <link href="~/Scripts/DatePicker/angular-datepicker.css" rel="stylesheet" />

    @*<script src="~/assets/js/jquery-1.11.0.min.js"></script>*@

    <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="/assets/js/toastr/toastr.js"></script>
    <link href="~/assets/css/sweetalert.css" rel="stylesheet" />
    <script src="~/assets/js/sweetalert.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    @if ((HttpContext.Current.Request["LanguageCulturePosition"]) == "rtl")
    {

        <link href="~/assets/css/beyond-rtl.css" rel="stylesheet" />
        <link href="~/assets/css/bootstrap-rtl.css" rel="stylesheet" />
        <script>
            $(document).ready(function () {
                $(".ui-grid").attr("dir", "rtl");
            });
        </script>
    }

    <script src="~/assets/js/jquery-pace-min.js"></script>

    <script>
        $(document).ready(function () {
            $(document).ajaxStart(function () {
                $("#loading").show();
            });
            //document.getElementById("alertdiv").style.visibility = "hidden";
            $(document).ajaxStop(function () {
                $("#loading").hide();
            });
            $('body').on('click', '.close', function () {
                //$(".close").click(function () {
                $(this).closest(".modal").hide();
            });
            $(".closepopup").click(function () {
                $(this).closest(".modal").hide();
            });

            $(document).keyup(function (e) {
                if (e.keyCode === 27) {
                    $(".modal").hide();
                }
            });
            $(".ui-grid").parent(".widget-body").css({ 'padding': '2px' });
            $("#SelectAll").click(function (event) {
                if (this.checked) {
                    $(".ckb").each(function () {
                        this.checked = true;
                    });
                }
                else {
                    $(".ckb").each(function () {
                        this.checked = false;
                    });
                }

            });
        });

        $(document).ready(function () {
            $(".page-body > form").prev().css({ "display": "none" });

            $("#chatAllEmp").click(function () {
                $("#chat-action #chat-action-text").text("All");
                $("#onlineusers").hide();
                $("#allusers").show();
            });

            $("#chatonlineEmp").click(function () {
                $("#chat-action #chat-action-text").text("Online");
                $("#allusers").hide();
                $("#onlineusers").show();
            });

            $("#creategroup").click(function () {
                $("#groupname").val("");
                $("#groupicon").val("");
                $("#getchatdiv").attr("chattype", "Group");
                $("#creategroupchatdiv").show();
                $("#chtcontact").hide();
            });
            $("#backtochat").click(function () {

                $("#creategroupchatdiv").hide();
                $("#chtcontact").show();
            });


            $("#showMembers").click(function () {

                $(this).hide();
                $(".group-participants-list").slideToggle();
                //$(".group-participants-list").show();
                $("#hideMembers").show();
            });

            $("#hideMembers").click(function () {

                $(this).hide();
                $(".group-participants-list").slideToggle();
                // $(".group-participants-list").hide();
                $("#showMembers").show();
            });

            $("#chatbar-maximize").click(function () {
                $(this).hide();
                $("#chatbar").removeClass("chatbar_minimize");
                $("#chatbar").addClass("chatbar_maximize");
                $("#chatbar-minimize").show();
            });

            $("#chatbar-minimize").click(function () {
                $(this).hide();
                $("#chatbar").addClass("chatbar_minimize");
                $("#chatbar").removeClass("chatbar_maximize");
                $("#chatbar-maximize").show();
            });
            $("#chatbar-pinned").click(function () {

                if ($("#chatbar").hasClass("chatbar_pinned"))
                    $("#chatbar").removeClass("chatbar_pinned");
                else
                    $("#chatbar").addClass("chatbar_pinned");

            });
            $("#chatGroupSettings").click(function () {
                $(".group-settings-view").show();
            });

            $("#backtochatdiv").click(function () {
                $(".group-settings-view").hide();
            });
            $("#backchat").click(function () {
                $("#getchatdiv").attr("chatid", "");
            });

            $("#addmembercancel").click(function () {
                $("#addviewmemeber").hide();
            });




            $("#SearchArcoEmployeesChat .searchinput").keyup(function () {

                var that = this;
                $.each($('#allusers li'),
                    function (i, val) {

                        if (($(val).text().toLowerCase().indexOf($(that).val().toLowerCase()) < 0)) {
                            $('#allusers li').eq(i).hide();
                        }
                        else {
                            $('#allusers li').eq(i).show();
                        }
                    });

                $.each($('#onlineusers li'),
                    function (i, val) {

                        if (($(val).text().toLowerCase().indexOf($(that).val().toLowerCase()) < 0)) {
                            $('#onlineusers li').eq(i).hide();
                        }
                        else {
                            $('#onlineusers li').eq(i).show();
                        }
                    });

                $.each($('#mygrouplist li'),
                    function (i, val) {

                        if (($(val).text().toLowerCase().indexOf($(that).val().toLowerCase()) < 0)) {
                            $('#mygrouplist li').eq(i).hide();
                        }
                        else {
                            $('#mygrouplist li').eq(i).show();
                        }
                    });

            });

            $("#arcocustomers .searchinput").keyup(function () {

                var that = this;
                $.each($('#myCustomerlist li'),
                    function (i, val) {

                        if (($(val).text().toLowerCase().indexOf($(that).val().toLowerCase()) < 0)) {
                            $('#myCustomerlist li').eq(i).hide();
                        }
                        else {
                            $('#myCustomerlist li').eq(i).show();
                        }
                    });

            });

            $("#arcoagents .searchinput").keyup(function () {

                var that = this;
                $.each($('#myAgentlist li'),
                    function (i, val) {

                        if (($(val).text().toLowerCase().indexOf($(that).val().toLowerCase()) < 0)) {
                            $('#myAgentlist li').eq(i).hide();
                        }
                        else {
                            $('#myAgentlist li').eq(i).show();
                        }
                    });

            });

        });

    </script>

    <script type="text/javascript">

        $(window).load(function () {

            $(".pace").fadeOut();
            ChangeLanguage();


        });

        loadCSS = function (href) {
            var cssLink = $("<link rel='stylesheet' type='text/css' href='" + href + "'>");
            $("head").append(cssLink);
        };

        function getCookie(name) {
            var re = new RegExp(name + "=([^;]+)");
            var value = re.exec(document.cookie);
            return (value != null) ? unescape(value[1]) : null;
        }

        function ChangeLanguage() {
            var languageSelect = $(".languageselector select");
            if (languageSelect.length > 0) {
                languageSelect.change(function () {
                    var langVal = this.value;
                    $.ajax({
                        url: '/Language/ChangeLanguage',
                        type: 'POST',
                        data: { lang: langVal },
                        success: function (data) {
                            location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            ShowUserMessage("Error: " + xhr.status + " " + thrownError);
                        }
                    });
                });
            }
        }

    </script>


    <script>
        $(window).load(function () {
            $("#logutscreen").hide();
            emptystatement();
            getPermissionByMenu("368");
            //  mylogutscreenFunction();
        });
        function mylogutscreenFunction() {
            alert("mylogutscreenFunction");
            setTimeout(function () { $("#logutscreen").show(); }, 1000 * 60 * 5);
        }



        function emptystatement() {
            //  alert("emptystatement");

            var emptydata = "";
            var data = new FormData();
            data.append("emptydata", emptydata);

            $.ajax({
                type: "POST",
                url: "@Url.Action("EmptyStatement", "Account", new { area = "" })",
                traditional: true,
                data: data,
                //enctype: 'multipart/form-data',
                contentType: false,
                processData: false,
                success: function (data) {
                    setTimeout(function () { emptystatement(); }, 1000 * 60 * 5);
                    //     mylogutscreenFunction();
                },
            });
        }
        function getPermissionByMenu(menu) {

            $("#enquirylink").hide();
            // var menu = "368";
            var data = new FormData();
            data.append("menu", menu);

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetPermissionByMenu", "IndividualSector", new { area = "" })",
                traditional: true,
                data: data,
                //enctype: 'multipart/form-data',
                contentType: false,
                processData: false,
                success: function (data) {

                    if (data.Permission >= 1) {
                        $("#enquirylink").show();
                    }
                },
            });
        }

        $(document).ready(function () {
            $("#Sessiontimeoutlogin").click(function () {
                sessionlogin();
            });

            $('#Sessiontimeoutpassword').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    sessionlogin();
                }

                event.stopPropagation();
            });

        });

        function sessionlogin() {

            var UserName = $("#Sessiontimeoutusername").val();
            var Password = $("#Sessiontimeoutpassword").val();
            if (UserName.length && Password.length != 0) {

                var data = new FormData();
                data.append("UserName", UserName);
                data.append("Password", Password);


                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SessionTimeOutLogin", "Account", new { area = "" })",
                    traditional: true,
                    data: data,
                    //enctype: 'multipart/form-data',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        $("#showerrormessage strong").html(data);
                        $("#showerrormessage").show();
                        setTimeout(function () { $("#showerrormessage").hide(); }, 5000);
                        if (data == "Login SucessFully") {
                            setTimeout(function () {
                                $("#logutscreen").hide();
                                mylogutscreenFunction();
                            }, 2000);

                        }
                    },
                    error: function errorFunc(data, Status) {
                        alert('error');
                    }
                });

            }
            else {
                $("#showerrormessage strong").html("Fill the Manatory Fields");
                $("#showerrormessage").show();
                setTimeout(function () { $("#showerrormessage").hide(); }, 5000);

            }
        }
    </script>

    <script>
        $(document).ready(function () {


            $("#ShowChangepassword").click(function () {
                $("#changepwdalert").hide();
                $("#ChangePwdpopup").show();
                $("#changepwdText").text("");
                $("#oldpwd").val("");
                $("#Newpwd").val("");
            });

            $("#Changepassword").click(function () {



                if (($("#oldpwd").val()).length > 0 && ($("#Newpwd").val()).length > 0 && ($("#Confirmpwd").val()).length > 0) {

                    var OldPassword = $("#oldpwd").val();
                    var NewPassword = $("#Newpwd").val();
                    var ConfirmPassword = $("#Confirmpwd").val();


                    if (NewPassword == ConfirmPassword) {

                        var data = new FormData();
                        data.append("OldPassword", OldPassword);
                        data.append("NewPassword", NewPassword);
                        //data.append("Confirmpwd", Confirmpwd);



                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("ChangePassword", "Account")",
                            traditional: true,
                            data: data,
                            //enctype: 'multipart/form-data',
                            contentType: false,
                            processData: false,
                            success: function (data) {
                                //swal(data);
                                if (data == "Password Changes Successfully") {

                                    swal({ title: "Success!", text: "Password Change Successfully.", imageUrl: "/assets/img/thumbs-up.jpg" });
                                    $("#ChangePwdpopup").hide();
                                }
                                else {
                                    $("#changepwdText").text(data);
                                    $("#changepwdalert").show();
                                }




                                $("#oldpwd").val("");
                                $("#Newpwd").val("");
                                $("#Confirmpwd").val("");

                                //  $("#ChangePwdpopup").hide();
                            },
                            error: function errorFunc(data, Status) {
                                alert("error");
                            }
                        });
                    }
                    else {

                        //  alert("Password Does Not Match");

                        $("#changepwdText").text("Password Does Not Match");
                        $("#changepwdalert").show();
                    }
                }
                else {
                    $("#changepwdText").text("Fill All Fields");
                    $("#changepwdalert").show();
                    // alert("Fill All Fields");
                }
            });


            $("#myprofilepic").change(function () {

                var fileinput = document.getElementById('myprofilepic');

                if (fileinput.files.length > 0) {

                    var fileInput1 = fileinput.files[0];
                    var name = fileinput.files[0].name;
                    var ext = name.match(/\.(.+)$/)[1];
                    if (fileInput1 && (ext == "jpg" || ext == "jpeg" || ext == "png")) {


                        var data = new FormData();

                        for (i = 0; i < fileinput.files.length; i++) {
                            data.append(fileinput.files[i].name, fileinput.files[i]);
                        }
                        $.ajax({
                            type: "POST",
                            url: "/UserRoleMapping/setprofilepic",
                            traditional: true,
                            contentType: "multipart/mixed",
                            contentType: false,
                            processData: false,
                            data: data,
                            success: successFunc,
                            error: errorFunc
                        });
                        function successFunc(data, Status) {
                            if (data != "") {
                                swal("Profile picture changed sucessfully");
                                $(".myprofileimage").attr("src", data);
                            }

                            $("#myprofilepic").val("");
                        }
                        function errorFunc(data, Status) {
                            alert('error');
                            $("#myprofilepic").val("");
                        }
                    }
                    else {
                        swal("Select Images");
                    }
                }
            });

            $("#CreateContractFromOut").click(function () {



                $("#CreateCustomerContractPopFromOut").show();

            });

        });


    </script>



</head>
<!-- /Head -->
<!-- Body -->
<body>
    <!-- Loading Container -->
    @*<div class="loading-container">
        <div class="loader"></div>
        </div>*@
    @*<div class="loading-con">
        <div class="loader animated bounceInLeft2"></div>
        </div>*@

    <!--  /Loading Container -->
    <!-- Navbar -->
 


    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left">
                    <a href="/Home/HomePage" class="navbar-brand">
                        <img src="~/assets/img/avatars/acro-logo_Portrait.jpg" />
                        <b>ERP</b>
                    </a>
                </div>
                <!-- /Navbar Barnd -->
                @*@Html.Partial("_topmenu")*@
                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <!-- /Sidebar Collapse -->
                <!-- Account Area and Settings --->






                
                    <!-- /Account Area and Settings -->
                </div>
            </div>
        </div>

        @*@Html.Partial("_sitemap")*@
        <!-- /Navbar -->
        <!-- Main Container -->
        <div class="main-container container-fluid">
            <!-- Page Container -->

            <input type="hidden" id="touser" />
            <input id="hdId" type="hidden" />
            <input id="hduserId" type="hidden" />
            <input id="hdUserName" type="hidden" value="admin" />


            
            @RenderBody()
            <!-- /Page Container -->
            <!-- Main Container -->
          
        </div>

      

        <script>

            $(window).bind("load", function () {

                $('span[name=sidemenu_109]').closest("li").hide();
            });
        </script>
      
        <script>
            //    check();
            function check() {

                var appName = navigator.appName;
                var appcodename = navigator.appCodeName;
                var product = navigator.product;
                var version = navigator.appVersion;
                var agent = navigator.userAgent;
                var platform = navigator.platform;
                var lang = navigator.language;
                var online = navigator.onLine;
                var en = navigator.javaEnabled();
                $("#NoInternetPopup").show();

                try {
                    var srt = UrlExists("https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js");
                    if (srt) {
                        $("#NoInternetPopup").hide();
                        setTimeout(function () {
                            check();
                        }, 30 * 1000);
                    }
                }
                catch (err) {

                    setTimeout(function () {
                        failcheck();
                    }, 30 * 1000);
                }

                //var srt = UrlExists("https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js");
                //if (srt) {
                //    $("#NoInternetPopup").hide();
                //    setTimeout(function () {
                //        check();
                //    }, 30 * 1000);
                //}
                //else {
                //    setTimeout(function () {
                //        failcheck();
                //    }, 30 * 1000);
                //}
            }

            function UrlExists(url) {

                var http = new XMLHttpRequest();
                http.open('HEAD', url, false);
                http.send();
                return http.status;
            }

            function failcheck() {
                try {
                    var srt = UrlExists("https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js");
                    if (srt) {
                        check();
                    }
                }
                catch (err) {

                    location.reload();
                }
                var srt = UrlExists("https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js");
                if (srt) {
                    setTimeout(function () {
                        check();
                    }, 30 * 1000);
                }
                else {
                    location.reload();
                }
            }

        </script>

        <script>
            // check();
          
        </script>

        <script src="~/assets/jQuery.print.js"></script>

        @*<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
            <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
            <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>*@
    </body>
    <!--  /Body -->
</html>
