﻿
@{
    ViewBag.Title = "FieldIndex";
}


<script src="~/Scripts/MetaDb/MetaFieldController.js?@DateTime.Now"></script>
<script>

    $(document).ready(function () {

        $(".toolbar-container").css("display", "block");

        $("#btnDelete").removeClass("inactiveLink");
        $("#btnDelete").addClass("bg-themeprimary");

        $("#BtnCreate").removeClass("inactiveLink");
        $("#BtnCreate").addClass("bg-themeprimary");

        $("#btnrefresh").removeClass("inactiveLink");
        $("#btnrefresh").addClass("bg-themeprimary");

        $("#Btnfilter").removeClass("inactiveLink");
        $("#Btnfilter").addClass("bg-themeprimary");
        $("#BtnMenu").removeClass("inactiveLink");
        $("#BtnMenu").addClass("bg-themeprimary");


        $("#Btnfilter").click(function () {

            $("#toggleFiltering").click();



        });
        $("#btnDelete").click(function () {

            $("#DeleteClick").click();



        });

        $("#btnrefresh").click(function () {

            $("#gridrefresh").click();

        });
        $("#BtnMenu").click(function () {
            $(".ui-grid-icon-menu").click();
        });
        $("#BtnCreate").click(function () {
            debugger;

            $("#gridnew").click();
            $("#popup").show();
        });


        function tools() {
            $(".toolbar-container").css("display", "block");
            $("#BtnCreate").removeClass("inactiveLink");
            $("#BtnCreate").addClass("bg-themeprimary");

        }
    });
</script>


<div ng-controller="MetaFieldCtrl">
    <input id='toggleFiltering' type="hidden" ng-click="toggleFiltering()" />
    <input id='gridrefresh' type="hidden" ng-click="gridrefresh()" />
    <input id='gridnew' type="hidden" ng-click="gridnew()" />
    <input id='DeleteClick' type="hidden" ng-click="DeleteClick()" />
    <input id='TableId' type="hidden" value="@ViewBag.TableId" />

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="NotApply">
            <div class="clearfix" id="MedicalData">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <span class="widget-caption">@Html.LanguageString("MetaFields") </span>
                    </div>
                    <div class="widget-body">

                        <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-grouping ui-grid-exporter ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-pagination class="grid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="modal" id="popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">MetaFields</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="row">
                        <div class="col-lg-12">
                           
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">FieldName</label>
                                <input type="text" class="form-control" id="FieldName" ng-model="Field.Field1" />
                            </div>

                           

                        </div>
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">DataType</label>
                                <input type="text" class="form-control" id="DataType" ng-model="Field.DataType" />
                            </div>
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">CDTName</label>
                                <select id="CDTId" class="form-control" ng-model="Field.CDTId" ng-options="g.Id as g.Desc for g in CDTIddrop">
                                   
                                </select>
                               
                            </div>

                            

                        </div>
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">IsUnique</label>
                                <input type="checkbox" class="form-control" id="IsUnique" ng-model="Field.IsUnique" />
                            </div>
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">IsVisible</label>
                                

                                <input type="checkbox" class="form-control" id="IsVisible" ng-model="Field.IsVisible" />
                            </div>
                           

                        </div>
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">IsReadOnly</label>
                                <input type="checkbox" class="form-control" id="IsReadOnly" ng-model="Field.IsReadOnly" />
                            </div>
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">IsMandatory</label>
                                <input type="checkbox" class="form-control" id="IsMandatory" ng-model="Field.IsMandatory" />
                            </div>

                            

                        </div>
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">LabelId</label>
                                <input type="text" class="form-control" id="LabelId" ng-model="Field.LabelId" />
                            </div>
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">HelpTextId</label>
                                <input type="text" class="form-control" id="HelpTextId" ng-model="Field.HelpTextId" />
                            </div>

                            

                        </div>
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">DefaultValue</label>
                                <input type="text" class="form-control" id="DefaultValue" ng-model="Field.DefaultValue" />
                            </div>
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">EnumTypeName</label>
                                <select id="EnumType" class="form-control" ng-model="Field.EnumType" ng-options="g.Id as g.Desc for g in EnumTypeDrop"></select>

                            </div>

                           

                        </div>
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">Length</label>
                                <input type="text" class="form-control" id="Length" ng-model="Field.Lenght" />
                            </div>
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">Fraction</label>
                                <input type="text" class="form-control" id="Fraction" ng-model="Field.Fraction" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <button type="button" ng-click="save()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>