﻿
@{
    ViewBag.Title = "FieldGroupIndex";
}

<script src="~/Scripts/MetaDb/MetaFieldGroupController.js?@DateTime.Now"></script>

<script>

    $(document).ready(function () {

        $(".toolbar-container").css("display", "block");

        $("#btnDelete").removeClass("inactiveLink");
        $("#btnDelete").addClass("bg-themeprimary");

        $("#BtnCreate").removeClass("inactiveLink");
        $("#BtnCreate").addClass("bg-themeprimary");

        $("#btnrefresh").removeClass("inactiveLink");
        $("#btnrefresh").addClass("bg-themeprimary");

        $("#Btnfilter").removeClass("inactiveLink");
        $("#Btnfilter").addClass("bg-themeprimary");
        $("#BtnMenu").removeClass("inactiveLink");
        $("#BtnMenu").addClass("bg-themeprimary");


        $("#Btnfilter").click(function () {

            $("#toggleFiltering").click();



        });
        $("#btnDelete").click(function () {

            $("#DeleteClick").click();



        });

        $("#btnrefresh").click(function () {

            $("#gridrefresh").click();

        });
        $("#BtnMenu").click(function () {
            $(".ui-grid-icon-menu").click();
        });
        $("#BtnCreate").click(function () {
            debugger;

            $("#gridnew").click();
            $("#popup").show();
        });


        function tools() {
            $(".toolbar-container").css("display", "block");
            $("#BtnCreate").removeClass("inactiveLink");
            $("#BtnCreate").addClass("bg-themeprimary");

        }
    });
</script>


<div ng-controller="MetaFieldGrpCtrl">
    <input id='toggleFiltering' type="hidden" ng-click="toggleFiltering()" />
    <input id='gridrefresh' type="hidden" ng-click="gridrefresh()" />
    <input id='gridnew' type="hidden" ng-click="gridnew()" />
    <input id='DeleteClick' type="hidden" ng-click="DeleteClick()" />


    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="NotApply">
            <div class="clearfix" id="MedicalData">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <span class="widget-caption">@Html.LanguageString("MetaFieldGroup") </span>
                    </div>
                    <div class="widget-body">

                        <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-grouping ui-grid-exporter ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-pagination class="grid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="modal" id="popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">MetaFieldGroup</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="row">
                        
                        <div class="col-lg-12">
                            
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">DatsSourceType</label>
                                <select id="CDTId" class="form-control" ng-model="FieldGroup.DataSourceType" ng-options="g.Id as g.Desc for g in DataSourceTypeDrop"></select>
                           </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">Name</label>
                                <input type="text" class="form-control" id="Name" ng-model="FieldGroup.Name" />
                            </div>
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">Columns</label>


                                <input type="text" class="form-control" id="Columns" ng-model="FieldGroup.Columns" />
                            </div>


                        </div>
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">DisplayStyle</label>
                                <input type="text" class="form-control" id="DisplayStyle" ng-model="FieldGroup.DisplayStyle" />
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <button type="button" ng-click="save()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>