﻿
@{
    ViewBag.Title = "TreeView";
}

<style>


    .page-content {
       
        margin-left: 0px !important;
    }

     #sidebar {
       
       display:none;
    }




    /* MENU-LEFT
-------------------------- */
/* layout */
#left ul.nav {
    margin-bottom: 2px;
    font-size: 12px; /* to change font-size, please change instead .lbl */
}
#left ul.nav ul,
#left ul.nav ul li {
    list-style: none!important;
    list-style-type: none!important;
    margin-top: 1px;
    margin-bottom: 1px;
}
#left ul.nav ul {
    padding-left: 0;
    width: auto;
}
#left ul.nav ul.children {
    padding-left: 12px;
    width: auto;
}
#left ul.nav ul.children li{
    margin-left: 0px;
}
#left ul.nav li a:hover {
    text-decoration: none;
}

#left ul.nav li a:hover .lbl {
    color: #999!important;
}

#left ul.nav li.current>a .lbl {
    background-color: #999;
    color: #fff!important;
}

/* parent item */
#left ul.nav li.parent a {
    padding: 0px;
    color: #ccc;
}
#left ul.nav>li.parent>a {
    /*border: solid 1px #999;*/
    text-transform: uppercase;
}    
#left ul.nav li.parent a:hover {
    background-color: #fff;
    -webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);    
}

/* link tag (a)*/
#left ul.nav li.parent ul li a {
    color: #222;
    border: none;
    display:block;
    padding-left: 5px;    
}

#left ul.nav li.parent ul li a:hover {
    background-color: #fff;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;  
}

/* sign for parent item */
#left ul.nav li .sign {
    display: inline-block;
    width: 14px;
    padding: 3px 14px 3px 5px;
    background-color: transparent;
    color: #fff;
}
#left ul.nav li.parent>a>.sign{
    margin-left: 0px;
    background-color: #999;
}

/* label */
#left ul.nav li .lbl {
    padding: 5px 12px;
    display: inline-block;
}
#left ul.nav li.current>a>.lbl {
    color: #fff;
}
#left ul.nav  li a .lbl{
    font-size: 12px;
}

/* THEMATIQUE
------------------------- */
/* theme 1 */
#left ul.nav>li.item-1.parent>a {
    /*border: solid 1px #ff6307;*/
}
#left ul.nav>li.item-1.parent>a>.sign,
#left ul.nav>li.item-1 li.parent>a>.sign{
    margin-left: 0px;
    background-color: #ff6307;
}
#left ul.nav>li.item-1 .lbl {
    color: #ff6307;
}
#left ul.nav>li.item-1 li.current>a .lbl {
    background-color: #ff6307;
    color: #fff!important;
}

/* theme 2 */
#left ul.nav>li.item-8.parent>a {
    /*border: solid 1px #51c3eb;*/
}
#left ul.nav>li.item-8.parent>a>.sign,
#left ul.nav>li.item-8 li.parent>a>.sign{
    margin-left: 0px;
    background-color: #51c3eb;
}
#left ul.nav>li.item-8 .lbl {
    color: #51c3eb;
}
#left ul.nav>li.item-8 li.current>a .lbl {
    background-color: #51c3eb;
    color: #fff!important;
}

/* theme 3 */
#left ul.nav>li.item-15.parent>a {
    /*border: solid 1px #94cf00;*/
}
#left ul.nav>li.item-15.parent>a>.sign,
#left ul.nav>li.item-15 li.parent>a>.sign{
    margin-left: 0px;
    background-color: #94cf00;
}
#left ul.nav>li.item-15 .lbl {
    color: #94cf00;
}
#left ul.nav>li.item-15 li.current>a .lbl {
    background-color: #94cf00;
    color: #fff!important;
}

/* theme 4 */
#left ul.nav>li.item-22.parent>a {
    /*border: solid 1px #ef409c;*/
}
#left ul.nav>li.item-22.parent>a>.sign,
#left ul.nav>li.item-22 li.parent>a>.sign{
    margin-left: 0px;
    background-color: #ef409c;
}
#left ul.nav>li.item-22 .lbl {
    color: #ef409c;
}
#left ul.nav>li.item-22 li.current>a .lbl {
    background-color: #ef409c;
    color: #fff!important;
}

 #left ul.nav li a:focus {
                background: #eee !important;
                color:#000;
            }

</style>



<script src="~/Scripts/MetaDb/TreeViewController.js?@DateTime.Now"></script>

<script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js?@DateTime.Now"></script>
<link href="~/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet" />

<script>

    $(document).ready(function () {

        $(".createpop").click(function () {
            debugger;
            $("#createlbl").animate({
                margin: '0 0 0 5px',
                float: 'left',
                left: '33%',



            }).show();
        });

        $("#closediv").click(function () {
            debugger;
            $("#createlbl").animate({
               
                left: '3%',



            }).hide();
        });
       function hideInfo() {
            debugger;
            if (!mouse_is_inside ) {
                $("#createlbl").animate({

                    left: '3%',



                }).hide();

                //if(menudiv)
                //{
                //    $("#createlbl").animate({
                //        margin: '0 0 0 5px',
                //        float: 'left',
                //        left: '33%',



                //    }).show();
                //}


                //document.getElementById('createlbl').style.left = '50px';
                //document.getElementById('createlbl').style.display = 'none';

            }
        }

        document.onclick = hideInfo;

        var mouse_is_inside = false;

        //var menudiv = false;
        //$('.createpop').hover(function () {
           
        //    menudiv = true;
        //}, function () {
        //    menudiv = false;
        //});

        
        $('#menu-group-1').hover(function () {

            mouse_is_inside = true;
        }, function () {
            mouse_is_inside = false;
        });

        //$("#left ul.nav li.parent > a > span.sign").click(function () {
        //    debugger;
        //    alert("1");
        //    $(this).find('i:first').toggleClass("glyphicon glyphicon-minus");
        //});


    });

    $(document).on("click", "#left ul.nav li.parent > a > span.sign", function () {
     
        $(this).find('i:first').toggleClass("glyphicon glyphicon-minus");
    });

    // Open Le current menu
    $("#left ul.nav li.parent.active > a > span.sign").find('i:first').addClass("icon-minus");
    $("#left ul.nav li.current").parents('ul.children').addClass("in");



    function showcreate()
    {
        $("#createlbl").animate({
            margin: '0 0 0 5px',
            float: 'left',
            left: '34%',



        }).show();
    }

</script>


<div ng-controller="TreeViewCtrl">

    <div class="container" style="position:absolute;width:68%;background-color:white">
        <div class="" style="position:relative;height:720px;">
            <div id="left" style="height:720px;width:33%;border-right:5px solid #b4c0c8;background-color:#fff;" class="span3 mCustomScrollbar">
                <ul id="menu-group-1" class="nav menu">
                    <li class="item-1 deeper parent active">
                        <a class="" href="#">
                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetCDT()" href="#CDT" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                            <span class="lbl createpop" ng-click="NodeClick(10)">Custom Data Types</span>
                        </a>
                        <ul class="children nav-child unstyled small collapse" id="CDT">
                            <li class="item-2  " ng-repeat="s in CDTF">
                                <a class="" href="#">
                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-2" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                    <span class="lbl" ng-click="SwitchProperty(s.RecId,10)">{{s.Name}}</span>
                                </a>

                            </li>

                        </ul>
                    </li>



                    <li class="item-8 deeper parent">
                        <a class="" href="#">
                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetTable()" href="#TableI" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                            <span class="lbl createpop" ng-click="NodeClick(20)">Tables</span>
                        </a>
                      
                        <ul class="children nav-child unstyled small collapse" id="TableI">
                            <li class="item-9 deeper parent" ng-repeat="s in TablesF">
                                <a class="" href="#">
                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#TableFieldlbl{{s.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                    <span class="lbl" ng-click="SwitchProperty(s.RecId,20)">{{s.TableName}}</span>
                                </a>

                                

                                <ul class="children nav-child unstyled small collapse" id="TableFieldlbl{{s.RecId}}">
                                    <li class="item-10 deeper parent">
                                        <a class="" href="#">
                                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetTableFieldM(s.RecId,s.RecId)" href="#TableFieldI{{s.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                            <span class="lbl createpop" ng-click="NodeClick(30,s.RecId)" onclick="showcreate()">Fields</span>
                                        </a>



                                        <ul class="children nav-child unstyled small collapse" id="TableFieldI{{s.RecId}}">
                                            <li class="item-11 " ng-repeat="TableField in  myrepeat['TableFieldF' + s.RecId]">
                                                <a class="" href="#">
                                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                                    <span class="lbl" ng-click="SwitchProperty(TableField.RecId,30,s.RecId)">{{TableField.Field1}}</span>
                                                </a>

                                            </li>
                                        </ul>

                                    </li>









                                    <li class="item-12 deeper parent">
                                        <a class="" href="#">
                                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetTableFieldGroupM(s.RecId,s.RecId)" href="#TableFieldGroupI{{s.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                            <span class="lbl createpop" ng-click="NodeClick(40,s.RecId)" onclick="showcreate()">Field Groups</span>
                                        </a>



                                        <ul class="children nav-child unstyled small collapse" id="TableFieldGroupI{{s.RecId}}">
                                            <li class="item-13 " ng-repeat="TableFieldGroup in  myrepeat['TableFieldGroupF' + s.RecId]">
                                                <a class="" href="#">
                                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                                    <span class="lbl" ng-click="SwitchProperty(TableFieldGroup.RecId,40,s.RecId)">{{TableFieldGroup.Name}}</span>
                                                </a>

                                            </li>
                                        </ul>

                                    </li>






                                    <li class="item-14 deeper parent">
                                        <a class="" href="#">
                                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetTableIndexM(s.RecId,s.RecId)" href="#TableIndexI{{s.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                            <span class="lbl createpop" ng-click="NodeClick(60,s.RecId)" onclick="showcreate()">Table Index</span>
                                        </a>



                                        <ul class="children nav-child unstyled small collapse" id="TableIndexI{{s.RecId}}">
                                            <li class="item-14 " ng-repeat="TableIndex in   myrepeat['TableIndexF' + s.RecId]">
                                                <a class="" href="#">
                                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                                    <span class="lbl" ng-click="SwitchProperty(TableIndex.RecId,60,s.RecId)">{{TableIndex.Name}}</span>
                                                </a>

                                            </li>
                                        </ul>

                                    </li>


                                </ul>




                              


                            </li>
                        </ul>
                    </li>






                    <li class="item-15 deeper parent ">
                        <a class="" href="#">
                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetRepo()" href="#RepoI" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                            <span class="lbl createpop" ng-click="NodeClick(80)">Repository</span>
                        </a>
                        <ul class="children nav-child unstyled small collapse" id="RepoI">
                            <li class="item-16  " ng-repeat="s in RepoF">
                                <a class="" href="#">
                                    <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetRepositoryTables(s.RecId)" href="#RepositorySub{{s.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                    <span class="lbl" ng-click="SwitchProperty(s.RecId,80)">{{s.Name}}</span>
                                </a>



                                <ul class="children nav-child unstyled small collapse" id="RepositorySub{{s.RecId}}">
                                    <li class="item-17 " ng-repeat="RepositoryTable in RepositoryTables">
                                        <a class="" href="#">
                                            <span data-toggle="collapse" data-parent="#menu-group-1" href="#" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                            @*<span class="sign"><i class="icon-play"></i></span>*@
                                            <span class="lbl">{{RepositoryTable.TableName}}</span>
                                        </a>
                                    </li>
                                </ul>





                            </li>
                        </ul>
                    </li>



                    <li class="item-22 deeper parent ">
                        <a class="" href="#">
                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetDataSource()" href="#DataSourceI" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                            <span class="lbl createpop" ng-click="NodeClick(100)">DataSource</span>
                        </a>
                        <ul class="children nav-child unstyled small collapse" id="DataSourceI">
                            <li class="item-23 deeper parent" ng-repeat="s in DataSourceF">
                                <a class="" href="#">
                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#DataSorceSub{{s.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                    <span class="lbl" ng-click="SwitchProperty(s.RecId,100)">{{s.Name}}</span>
                                </a>




                                <ul class="children nav-child unstyled small collapse" id="DataSorceSub{{s.RecId}}">
                                    <li class="item-24 deeper parent">
                                        <a class="" href="#">
                                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetDataSourceTables(s.DataSourceID,s.RecId)" href="#DataSorceTablesI{{s.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                            @*<span class="sign"><i class="icon-play"></i></span>*@
                                            <span class="lbl createpop" ng-click="NodeClick(110,s.DataSourceID)" onclick="showcreate()">Tables</span>
                                        </a>


                                        <ul class="children nav-child unstyled small collapse" id="DataSorceTablesI{{s.RecId}}">
                                            <li class="item-24 deeper parent" ng-repeat="DTables in myrepeat['DTablesF' + s.RecId]">
                                                <a class="" href="#">
                                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#DataSourceJoinlbl{{DTables.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                                    @*<span class="sign"><i class="icon-play"></i></span>*@
                                                    <span class="lbl" ng-click="SwitchProperty(DTables.RecId,110,s.DataSourceID)">{{DTables.Alias}}</span>
                                                </a>



                                                <ul class="children nav-child unstyled small collapse" id="DataSourceJoinlbl{{DTables.RecId}}">
                                                    <li class="item-24 deeper parent">
                                                        <a class="" href="#">
                                                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetDataSourceTableJoin(DTables.RecId,DTables.RecId)" href="#DataSourceJoinI{{DTables.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                                            @*<span class="sign"><i class="icon-play"></i></span>*@
                                                            <span class="lbl createpop" ng-click="NodeClick(120,s.DataSourceID,DTables.RecId,DTables.ParentTableAlias) " onclick="showcreate()">Joins</span>
                                                        </a>
                                                        <ul class="children nav-child unstyled small collapse" id="DataSourceJoinI{{DTables.RecId}}">
                                                            <li class="item-24 " ng-repeat="DJoin in myrepeat['DJoinF' + DTables.RecId]">
                                                                <a class="" href="#">
                                                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                                                    @*<span class="sign"><i class="icon-play"></i></span>*@
                                                                    <span class="lbl" ng-click="SwitchProperty(DJoin.RecId,120,s.DataSourceID)">{{DJoin.ChildTableAliasName}}</span>
                                                                </a>
                                                            </li>
                                                        </ul>



                                                    </li>
                                                </ul>






                                            </li>
                                        </ul>
                                    </li>


                                    <li class="item-25 deeper parent">
                                        <a class="" href="#">

                                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetDataSourceFields(s.DataSourceID,s.RecId)" href="#DataSourceFieldsI{{s.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>

                                            @*<span class="sign"><i class="icon-play"></i></span>*@
                                            <span class="lbl createpop" ng-click="NodeClick(150,s.DataSourceID)" onclick="showcreate()">Fields</span>
                                        </a>


                                        <ul class="children nav-child unstyled small collapse" id="DataSourceFieldsI{{s.RecId}}">
                                            <li class="item-25 " ng-repeat="DField in   myrepeat['DFieldsF' + s.RecId]">
                                                <a class="" href="#">
                                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                                    @*<span class="sign"><i class="icon-play"></i></span>*@
                                                    <span class="lbl" ng-click="SwitchProperty(DField.RecId,150,s.DataSourceID)">{{DField.Field}}</span>
                                                </a>
                                            </li>
                                        </ul>



                                    </li>


                                    <li class="item-26 deeper parent">
                                        <a class="" href="#">
                                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetDataSourceWheres(s.DataSourceID,s.RecId)" href="#DataSourceWhereI{{s.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                            @*<span class="sign"><i class="icon-play"></i></span>*@
                                            <span class="lbl createpop" ng-click="NodeClick(130,s.DataSourceID)" onclick="showcreate()">Where</span>
                                        </a>


                                        <ul class="children nav-child unstyled small collapse" id="DataSourceWhereI{{s.RecId}}">
                                            <li class="item-26 " ng-repeat="DWhere in myrepeat['DWhereF' + s.RecId]">
                                                <a class="" href="#">
                                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                                    @*<span class="sign"><i class="icon-play"></i></span>*@
                                                    <span class="lbl" ng-click="SwitchProperty(DWhere.RecId,130,s.DataSourceID)">{{DWhere.Alias}}</span>
                                                </a>
                                            </li>
                                        </ul>


                                    </li>

                                    <li class="item-27 deeper parent">
                                        <a class="" href="#">
                                            <span data-toggle="collapse" data-parent="#menu-group-1" ng-click="GetDataSourceOrders(s.DataSourceID,s.RecId)" href="#DataSourceOrderI{{s.RecId}}" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                            @*<span class="sign"><i class="icon-play"></i></span>*@
                                            <span class="lbl createpop" ng-click="NodeClick(140,s.DataSourceID)" onclick="showcreate()">OrderBy</span>
                                        </a>


                                        <ul class="children nav-child unstyled small collapse" id="DataSourceOrderI{{s.RecId}}">
                                            <li class="item-27 " ng-repeat="DOrder in  myrepeat['DOrderF' + s.RecId]">
                                                <a class="" href="#">
                                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#" class="sign"><i class="glyphicon glyphicon-plus"></i></span>
                                                    @*<span class="sign"><i class="icon-play"></i></span>*@
                                                    <span class="lbl" ng-click="SwitchProperty(DOrder.RecId,140,s.DataSourceID)">{{DOrder.Alias}}</span>
                                                </a>
                                            </li>
                                        </ul>


                                    </li>


                                    
                                </ul>



                            </li>
                        </ul>
                    </li>


                </ul>
            </div>



            <div id="createlbl" style="display:none;float:left;position:relative;width:100px;z-index:100;bottom:720px;border-right:5px solid #b4c0c8;height:720px;background: rgba(0,0,0,0.125); opacity: 0.7;">
                <span class="glyphicon glyphicon-remove" id="closediv" style="left:81px;"></span>
                <input type="button" id="createform" ng-click="NodeCreate()" class="btn btn-default" value="create" style="" />
            </div>

        </div>
    </div>

   

    <div style="position:absolute; border-left:5px solid #b4c0c8;left:69%;height:720px;width:100%;background-color:#fff;">

        <input type="hidden" id="DataSourceId" value="{{DataSourceModel}}" />
        <input type="hidden" id="TableId" value="{{TableIdModel}}" />

        <div style="position:absolute;z-index:100;overflow:auto;width:31%;height:720px;" class="mCustomScrollbar">
            <div ng-if="Type==10" ng-include="'/AppHtml/CustomDataEdit1.html'"></div>
            <div ng-if="Type==20" ng-include="'/AppHtml/TableEdit.html'"></div>


         

            <div ng-if="Type==30" ng-include="'/AppHtml/TableField.html'"></div>

            <div ng-if="Type==40" ng-include="'/AppHtml/TableFieldGroup.html'"></div>

            <div ng-if="Type==60" ng-include="'/AppHtml/TableIndexEdit.html'"></div>

            <div ng-if="Type==80" ng-include="'/AppHtml/RepoEdit.html'"></div>

            <div ng-if="Type==100" ng-include="'/AppHtml/DataSourceEdit.html'"></div>

            <div ng-if="Type==110" ng-include="'/AppHtml/DataSourceTablesEdit.html'"></div>

            <div ng-if="Type==120" ng-include="'/AppHtml/DataSourceTablesJoins.html'"></div>

            <div ng-if="Type==130" ng-include="'/AppHtml/DataSourceTablesWhere.html'"></div>

            <div ng-if="Type==140" ng-include="'/AppHtml/DataSourceTablesOrder.html'"></div>

            <div ng-if="Type==150" ng-include="'/AppHtml/DataSourceTablesFields.html'"></div>




        </div>
    </div>

   

   

</div>




