﻿
<script type="text/ng-template" id="editable_text.html">
    <!--<label checkfieldevent eventdata="{EventKey:'ngClick',EventName:'CheckClick'}" class="a" editable-text="DetailsData[data.DataSourceName][0][datafield.FieldText]" e-ng-required="datafield.IsMandatory" e-name="datafield.FieldText">
        {{DetailsData[data.DataSourceName][datafield.FieldText]}}
    </label>-->
    <!--<label checkappendevent="{{DetailsData[data.DataSourceName][datafield.EventData]}}" currenteventdata="datafield.EventData" eventdata='{{DetailsData[data.DataSourceName][datafield.EventData]}}' class="a" ng-model="DetailsData[data.DataSourceName][0][datafield.FieldText]" ng-required="datafield.IsMandatory" name="datafield.FieldText">
        {{DetailsData[data.DataSourceName][datafield.FieldText]}}
    </label>
    <input type="text" ng-model="DetailsData[data.DataSourceName][datafield.FieldText]" />-->

    <label editable-text="DetailsData[data.DataSourceName][0][datafield.FieldText]" checkappendevent="{{DetailsData[data.DataSourceName][datafield.EventData]}}" e-currenteventdata="datafield.EventData" e-ng-required="datafield.IsMandatory" e-datedir e-name="datafield.FieldText">
        {{DetailsData[data.DataSourceName][datafield.FieldText]}}
    </label>
</script>

<script type="text/ng-template" id="editable_numeric.html">
    <label editable-numeric="DetailsData[data.DataSourceName][0][datafield.FieldText]" e-ng-required="datafield.IsMandatory" e-name="datafield.FieldText">
        {{DetailsData[data.DataSourceName][datafield.FieldText]}}
    </label>
</script>

<script type="text/ng-template" id="editable_date.html">
    <label editable-text="DetailsData[data.DataSourceName][0][datafield.FieldText]" e-ng-required="datafield.IsMandatory" e-datedir e-name="datafield.FieldText">
        {{DetailsData[data.DataSourceName][datafield.FieldText] | date:"dd/MM/yyyy" || ''}}
    </label>
</script>

<script type="text/ng-template" id="non_editable_label.html">
    <!--<label class="tablecell" ng-show="DetailsData[data.DataSourceName].length>0">{{DetailsData[data.DataSourceName][0][datafield.FieldText]}}</label>
    <label class="tablecell"  ng-show="DetailsData[data.DataSourceName].length==0">{{DetailsData[data.DataSourceName][datafield.FieldText]}}</label>-->
    <label checkfieldevent eventdata="{{eventobj}}" class="tablecell" >{{DetailsData[data.DataSourceName][datafield.FieldText]}}</label>
</script>





<script type="text/ng-template" id="editable_Lookup.html">
   
        <label editable-select="DetailsData[data.DataSourceName][0][datafield.FieldText]" e-ng-required="datafield.IsMandatory" e-ng-init="GetLookUpdata(datafield)" e-ng-options="g[datafield.LIdField] as g[datafield.LViewField] for g in datafield.lookupsource" e-name="datafield.FieldText">

            {{ getLookUpName(datafield.lookupsource,DetailsData[data.DataSourceName][0][datafield.FieldText],datafield.LIdField,datafield.LViewField) || 'Not set' }}
        </label>
       
      
</script>



<script type="text/ng-template" id="MenuItemLink.html">
  
    <a ng-click="CreateClick()"><i class="{{menuitem.classDescription}}"></i></a>
     
</script>

<script type="text/ng-template" id="MenuItembutton.html">
   
        <button class="{{menuitem.classDescription}}">{{menuitem.LabelText}}</button>
   
</script>

<script type="text/ng-template" id="MenuItemGroupRelate.html">


   
        <a ng-if="data.GroupType==2" id="BtnEdit" ng-click="data.FormName.$show()" ng-show="!data.FormName.$visible"><i class="fa fa-pencil-square-o"></i></a>
    

    
        <a ng-if="data.GroupType==2" id="BtnSave" ng-click="data.FormName.$submit()" ng-show="data.FormName.$visible"><i class="fa fa-floppy-o"></i></a>
    

    
    <a ng-if="data.GroupType==2" id="BtnCancel" ng-show="data.FormName.$visible" ng-click="data.FormName.$cancel()"><i class="fa fa-close"></i></a>
  

    <a ng-if="data.GroupType==1" ng-click="data.FormName.CreatePop()"><i class="fa fa-pencil-square-o"></i></a>
 
</script>


<div class="row">
    <div class="col-lg-{{data.Columns}} col-md-{{data.Columns}} col-sm-{{data.Columns}}" ng-repeat="data in PageGroups.CurrentPageGroup  | filter:{ ParentGroupId: null }">
        <div class="widget" ng-if="data.GroupType==2">
            <div class="widget-header">
                <span id="menutitle" class="widget-caption">{{data.Title}}</span>
                <div class="widget-buttons" ng-init="GetMenuIemForWidget(data)">
                    <a class="themeprimary gridicon" ng-repeat="menuitem in data.MenuItems" ng-include="getMenuIteminclude(menuitem)">

                    </a>
                    <a class="themeprimary gridicon" id="toggleFiltering" ng-click="refreshpage()">
                        <i class="fa fa-refresh" id="toggleFiltering1"></i>
                    </a>
                    <a class="themeprimary gridicon" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="themeprimary gridicon" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
            </div>
            <div id="contract-detail" class="col-lg-12 col-md-12 col-sm-12 nopadding" style="background:#eee;">
                <div id="contract-detail-left" class="col-lg-9 col-md-8 col-sm-8">
                    <form class="row" editable-form name="data.FormName" onaftersave="saveUser(DetailsData[data.DataSourceName][0], data.DataSourceId, data.FormName)">
                        <div class="datail-GroupSection" ng-include="'/app/DynamicPage/Views/InnerGroupSection - Copy.html'" style="overflow:auto;width:100%;">
                        </div>
                        <div class="clearfix" style="display:none !important;">
                            <div>

                                <button type="button" class="btn btn-default" id="btnRegistrationEdit" ng-click="data.FormName.$show()" ng-show="!data.FormName.$visible">
                                    Edit
                                </button>

                                <span ng-show="data.FormName.$visible">
                                    <button type="submit" class="btn btn-primary" id="btnRegistrationSave" ng-disabled="data.FormName.$waiting">
                                        Save
                                    </button>
                                    <button type="button" id="btnRegistrationCancel" class="btn btn-default" ng-disabled="data.FormName.$waiting" ng-click="data.FormName.$cancel()">
                                        Cancel
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                </div>
                <div id="contract-detail-right" class="bg-white col-lg-3 col-md-4 col-sm-4" resizableleft on-resize="resize1('data', $ui)" style="height:Calc(100vh - 80px);">
                    <div class="row">
                        <div class="widgets">
                            <div class="widjetcard innercol-1" ng-if="data.HasChild == true && data.GroupType !=1 && false" ng-init="GetChildGroupData(data)">
                                <div class="widjetcard-body" ng-repeat="data in data.ChildGroup" ng-if="data.GroupType==1">
                                    <div class="widjetcard-inner" style="margin:5px 0;">
                                        <h3 class="widjetcard-inner-header">
                                            {{data.Title}}
                                        </h3>
                                        <div class="widjetcard-inner-body" ng-include="'/app/DynamicPage/Views/TableSection.html'" ng-init="GetDataSourceGridData(data)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="widget-body">
                <form editable-form name="data.FormName" onaftersave="saveUser(DetailsData[data.DataSourceName][0], data.DataSourceId, data.FormName)" style="display:none;">

                        <div class="tablediv" ng-include="'/app/DynamicPage/Views/InnerGroupSection.html'">
                        </div>

                    <div class="clearfix" style="display:none !important;">
                        <div>

                            <button type="button" class="btn btn-default" id="btnRegistrationEdit" ng-click="data.FormName.$show()" ng-show="!data.FormName.$visible">
                                Edit
                            </button>

                            <span ng-show="data.FormName.$visible">
                                <button type="submit" class="btn btn-primary" id="btnRegistrationSave" ng-disabled="data.FormName.$waiting">
                                    Save
                                </button>
                                <button type="button" id="btnRegistrationCancel" class="btn btn-default" ng-disabled="data.FormName.$waiting" ng-click="data.FormName.$cancel()">
                                    Cancel
                                </button>
                            </span>
                        </div>
                    </div>
                </form>


            </div>-->
            </div>
        </div>
        <!--ng-init="GetDataSourceGridData(data)"-->
        <div class="" ng-if="data.GroupType==1" ng-include="'/app/DynamicPage/Views/GridSection.html'" ng-init="GetDataSourceGridData(data)">

        </div>
    </div>
    

    
</div>

<div id="pageScript"></div>






