﻿



<button type="button" style="display:none" id="showpopup_{{data.Title.split(' ').join('')}}" class="btn btn-primary" data-toggle="modal" data-target=".bs{{data.Title.split(' ').join('')}}">Large modal</button>

<div id="GetPopup" class="modal fade bs{{data.Title.split(' ').join('')}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{data.Title}} </h4>
            </div>


            <form editable-form name="data.PopUpName" onaftersave="saveUser(DetailsData[data.DataSourceName][0], data.DataSourceId, data.PopUpName)" novalidate>
                <div class="x_content">

                    <div ng-if="data.HasField == true" ng-init="GetDataSourceDetailsData(data)" class="tablecell parentcell ">
                        <div class="form-title">
                            {{data.Title}}
                        </div>
                        <div class="tablediv">
                            <div ng-if="data.HasField == true" ng-init="GetGroupFields(data)">
                                <div class="tablerow" ng-repeat="datafield in data.Fields"
                                     ng-include="'/app/DynamicPage/Views/GroupFields.html'">

                                </div>
                            </div>

                        </div>
                    </div>


                </div>


                <div class="clearfix" >
                    <div>
                        <!-- button to show form -->
                        <button type="button" class="btn btn-default" id="btnRegistrationEdit" ng-click="data.PopUpName.$show()" ng-show="!data.PopUpName.$visible">
                            Edit
                        </button>
                        <!-- buttons to submit / cancel form -->
                        <span ng-show="data.PopUpName.$visible">
                            <button type="submit" class="btn btn-primary" id="btnRegistrationSave" ng-disabled="data.PopUpName.$waiting">
                                Save
                            </button>
                            <button type="button" id="btnRegistrationCancel" class="btn btn-default" ng-disabled="data.PopUpName.$waiting" ng-click="data.PopUpName.$cancel()">
                                Cancel
                            </button>
                        </span>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>





















