﻿

<!--<input type="button" value="{{$index}} current array in {{$parent.$index}}" />-->

<label class="tablecell">{{datafield.FieldText}}</label>
<div ng-include="getfieldtypeinclude(datafield)" class="tablecell {{datafield.DataType}}"></div>

<!--<label class="tablecell" ng-model="DetailsData[data.DataSourceName][datafield.FieldText]">
    {{DetailsData[data.DataSourceName][datafield.FieldText]}}
</label>-->
<!--{{DetailsData[data.DataSourceName][datafield.FieldText]}}
{{data.DataSourceName}}.{{datafield.FieldText}}-->

