﻿
<!--<div class="widjetcard-body" ng-if="data.HasField == true" ng-init="GetDataSourceDetailsData(data)">
    <div class="widjetcard-inner">
        <h3 class="widjetcard-inner-header">
            {{data.Title}} <span class="fa fa-tags"></span>
        </h3>
        <div class="widjetcard-inner-body">
            <div class="tablediv">
                <div ng-if="data.HasField == true" ng-init="GetGroupFields(data)">
                    <div class="tablerow" ng-repeat="datafield in data.Fields"
                         ng-include="'/app/DynamicPage/Views/GroupFields.html'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<!--<div class="" ng-if="data.GroupType==1" ng-include="'/app/DynamicPage/Views/GridSection.html'" ng-init="GetDataSourceGridData(data)">

</div>-->

<div class="profile-widjet location-view" ng-if="data.HasField == true && data.GroupType!=1" ng-init="GetDataSourceDetailsData(data)" >
    <h3 class="{{data.DisplayStyle}} profile-header themeprimary">{{data.Title}}</h3>
    <div class="profile-repeat-list" style="background:#fff">
        <div class="profile-widjet-view location-widjet-view">
            <div class="tablediv" ng-if="data.HasField == true">
                {{DetailsData}}
                <div class="tablerow" ng-repeat="datafield in PageGroups.CurrentPageGroupFields  | filter:{ ParentGroupId: data.RecId }" ng-include="'/app/DynamicPage/Views/GroupFields.html'">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="widjetboxheader" ng-if="data.HasChild == true && data.GroupType!=1"  style="width:{{data.width}}px; min-width:350px; max-width:Calc(100% - 00px); background:#eee;overflow:auto;">
    <div class="displayflex widjet-box child-column-{{data.Columns}} widjet-overflow" style="width:{{widjetboxwidth}}px;">
        <div class="displayflex widjet-box-inner minwidth-350 col-lg-12" ng-repeat="data in PageGroups.CurrentPageGroup | filter:{ ParentGroupId: data.RecId }" ng-include="'/app/DynamicPage/Views/InnerGroupSection - Copy.html'" style="width:{{widjetinnerwidth}}px;overflow:auto;">
        </div>
    </div>
</div>

<!--<div class="" ng-if="data.GroupType==1" ng-include="'/app/DynamicPage/Views/GridSection.html'" ng-init="GetDataSourceGridData(data)">

</div>-->



<!--<div class="displayflex col-lg-3 col-ls-3 col-md-3 col-sm-3" ng-if="data.HasField == true" ng-init="GetDataSourceDetailsData(data)">
    <div class="profile-widjet location-view">
        <h3 class="fa fa-file-text profile-header themeprimary">{{data.Title}}</h3>
        <div class="profile-repeat-list" style="background:#fff">
            <div class="profile-widjet-view location-widjet-view">
                <div class="tablediv" ng-if="data.HasField == true" ng-init="GetGroupFields(data)">
                    <div class="tablerow" ng-repeat="datafield in data.Fields" ng-include="'/app/DynamicPage/Views/GroupFields.html'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row " ng-if="data.HasChild == true" ng-init="GetChildGroupData(data)">
    <div class="row displayflex" ng-include="'/app/DynamicPage/Views/InnerGroupSection.html'" style="background:#eee">
    </div>
</div>-->





