﻿
                     
<div class="tablecell" ng-init="GetLookUpdata(datafield)">

    <commenautocomplete on-select="DetailsData[data.DataSourceName][0][datafield.FieldText]" source="datafield.lookupsource"></commenautocomplete>
</div>
         
       
    



 






