﻿

<table class="table table-striped grid-table" style="border:1px solid #ddd;">
    <thead>
        <tr>
            <th class="themeprimary">Action</th>
            <th ng-repeat="head in data.columndef">

                <a class="table-sorting themeprimary">
                    <span> {{head.name}}</span>
                    <!--<span class="grid-sort">
                        <span ng-click="sortType = head.name; sortReverse = !sortReverse" class="fa fa-caret-up"></span>
                        <span ng-click="sortType = head.name; sortReverse = !sortReverse" class="fa fa-caret-down"></span>
                    </span>-->
                </a>
            </th>
        </tr>
        <tr class="serarchrow" ng-if="visiblegridfilter">
            <th><!--<button class="btn btn-primary table-col-search">Go</button>--></th>
            <th ng-repeat="head in data.columndef">
                <input type="text" class="grid-serach-text" ng-model="clientfilter[head.field]" />
                <div class="btn-group">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-caret-down" style="font-size:15px;color:#7b7575"></i></a>
                    <ul class="dropdown-menu">
                        <li style="width:100%; height:auto;">
                            <a id="btnExtendCo">set 1</a>
                        </li>
                        <li style="width:100%; height:auto;">
                            <a id="btnExtendCo">set 2</a>
                        </li>
                        <li style="width:100%; height:auto;">
                            <a id="btnExtendCo">set 3</a>
                        </li>
                    </ul>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <!--orderBy:sortType:sortReverse-->
        <tr ng-repeat="row in GridData[data.DataSourceName].List | filter:clientfilter">
            <td>
                <span ng-if="data.IsHaveConsumer" class="glyphicon glyphicon-list-alt themeprimary " ng-click="GetConsumerPage(data.ConsumerId,data.ConsumerType,row.RecId)"></span>
            </td>
            <td ng-repeat="column in data.columndef">
                {{row[column.field]}}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="{{data.columndef.length + 1}}" style="border:none;">
                <div class="ui-grid-pager-panel">
                    <div role="navigation" class="ui-grid-pager-container">
                        <div role="menubar" class="ui-grid-pager-control" style="margin:0px;">
                            <button type="button" class="ui-grid-pager-first glyphicon glyphicon-step-backward themeprimary" ng-click="gridfirstpage(data)" ng-disabled="data[data.FormName].criteria.page < 2"></button>
                            <button type="button" class="ui-grid-pager-previous glyphicon glyphicon-chevron-left themeprimary" ng-click="Prev(data)" ng-disabled="data[data.FormName].criteria.page < 2"></button>
                            <span class="pagi"><em>Page</em> <input class="ui-grid-pager-control-input" type='number' ng-model='data[data.FormName].criteria.page' min="1" ng-change="pagenumberchanged1(data)" max="{{data[data.FormName].paging.totalpages}}" /></span>
                            <span class="ui-grid-pager-max-pages-number"><em>of</em> {{data[data.FormName].paging.totalpages}}</span>
                            <button type="button" class="ui-grid-pager-next glyphicon glyphicon-chevron-right themeprimary" ng-click="Next(data)" ng-disabled="data[data.FormName].criteria.page >= data[data.FormName].paging.totalpages "></button>
                            <button type="button" class="ui-grid-pager-last glyphicon glyphicon-step-forward themeprimary" ng-click="gridlastpage(data)" ng-disabled="data[data.FormName].criteria.page >= data[data.FormName].paging.totalpages "></button>
                        </div>
                        <div class="ui-grid-pager-row-count-picker">
                            <select ng-model="data[data.FormName].criteria.pagesize" ng-change="pagesizechanged(data)" ng-options="obj as obj for obj in data[data.FormName].paging.pagingOptions" class=""></select>
                            <span class="ui-grid-pager-row-count-label themeprimary">&nbsp;items per page</span>
                        </div>
                    </div>
                    <div class="ui-grid-pager-count-container">
                        <div class="ui-grid-pager-count themeprimary">
                            <span>{{((data[data.FormName].criteria.page -1) * data[data.FormName].criteria.pagesize) + 1}} <abbr>-</abbr> {{ ((data[data.FormName].criteria.page -1) * data[data.FormName].criteria.pagesize) + data[data.FormName].paging.showing}} of {{data[data.FormName].paging.total}} items</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
