﻿



<!--<div class="actionsctrl">
    <div class="actions_instuction bordered-themesecondary themeprimary">
        <span ng-repeat="Stage in Stages" ng-if="Stage.StageId ==Stage.IsCurrent" class="instruct">{{Stage.Subject}}</span>
        <span ng-repeat="Stage in Stages" ng-if="Stage.StageId ==Stage.IsCurrent &&(Stage.StageId ==0 || Stage.StageId ==-1)" class="instruct">Select the Stage For Instruction</span>
        <div class="info_tip">
            <span class="fa fa-info-circle "></span>
            <span class="tip-content">
                <div ng-repeat="Stage in Stages" ng-if="Stage.StageId ==Stage.IsCurrent">{{Stage.Instruction}}</div>
                <div ng-repeat="Stage in Stages" ng-if="Stage.StageId ==Stage.IsCurrent &&(Stage.StageId ==0 || Stage.StageId ==-1)">Select the Stage For Instruction</div>
            </span>
        </div>
    </div>

    <div class="btn-group" id="actionbtngroup">
        <a class="btn btn-primary" ng-class="{'disabled': Action != true }" href="javascript:void(0);">Action</a>
        <a class="btn btn-primary  dropdown-toggle" ng-if="Action==true" id="ActionClick" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
        <a id="Actiontrue" class="btn btn-primary disabled  dropdown-toggle" ng-if="Action!=true"><i class="fa fa-angle-down"></i></a>

        <ul class="dropdown-menu">
            <li ng-repeat="Status in Statuses">
                <a id="BtnComplete" ng-click="BtnComplete()" ng-mouseleave="StatushoverLeave()" ng-mouseover="Statushover(Status.ActionDescription)" ng-if="Status.StatusId ==4" data-statusid="{{Status.StatusId}}">{{Status.StatusName}}</a>
                <a id="BtnReturn" ng-mouseleave="StatushoverLeave()" ng-click="BtnReturn()" ng-mouseover="Statushover(Status.ActionDescription)" ng-if="Status.StatusId ==8" data-statusid="{{Status.StatusId}}">{{Status.StatusName}}</a>
                <a ng-mouseleave="StatushoverLeave()" ng-mouseover="Statushover(Status.ActionDescription)" ng-click="StageStat(640,Status.StatusId)" ng-if="Status.StatusId !=4 && Status.StatusId !=8" id="stat_{{Status.StatusId}}" data-statusid="{{Status.StatusId}}">{{Status.StatusName}}</a>
            </li>

        </ul>

    </div>
</div>-->
<div class="remove-first">
    <div ng-repeat="Stage in data[data.FormName].Stages" style="display:inline-block;min-width:{{100 / data[data.FormName].Stages.length }}%">

        <div ng-if="Stage.StageId ==Stage.IsCurrent" style="display:inline-block; ">
            <span id="change_{{Stage.StageId}}" ng-click="ChangeWorkFlowStage(data,Stage.StageId)" class=" btn btn-primary btn-arrow-right active">{{Stage.StageDesc}}<span ng-if="data.WorkflowTemplateType !=2">({{Stage.Count}})</span></span>
        </div>

        <div ng-if="Stage.StageId !=Stage.IsCurrent" style="display:inline-block;">
            <span id="change_{{Stage.StageId}}" ng-click="ChangeWorkFlowStage(data,Stage.StageId)" class="btn btn-primary btn-arrow-right">{{Stage.StageDesc}}<span ng-if="data.WorkflowTemplateType !=2">({{Stage.Count}})</span></span>
        </div>
    </div>
</div>



















