﻿
@{
    ViewBag.Title = "Index";
}
<style>
    #SelectAll, #SelectAllS {
        float: left;
        margin: 3px 5px 0 5px;
    }

    .Rolls_cender {
        text-align: center;
        margin-top: 172px;
    }

    .roleset {
        padding: 5px 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        display: block;
    }

    .Rolls {
        border: 1px solid #000;
        display: block;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

        .Rolls h5 {
            padding-left: 10px;
        }

    .roleset i {
        color: #fff;
        font-weight: bold;
    }

    .Rolls {
        height: 506px;
    }

    .mCSB_scrollTools {
        display: none !important;
    }

    .Rolls:hover .mCSB_scrollTools {
        display: block !important;
    }
</style>

<script src="~/Scripts/MetaDb/RepositoryController.js?@DateTime.Now"></script>
<script>

    $(document).ready(function () {

        $(".toolbar-container").css("display", "block");
        
        $("#btnDelete").removeClass("inactiveLink");
        $("#btnDelete").addClass("bg-themeprimary");

        $("#BtnCreate").removeClass("inactiveLink");
        $("#BtnCreate").addClass("bg-themeprimary");

        $("#btnrefresh").removeClass("inactiveLink");
        $("#btnrefresh").addClass("bg-themeprimary");

        $("#Btnfilter").removeClass("inactiveLink");
        $("#Btnfilter").addClass("bg-themeprimary");
        $("#BtnMenu").removeClass("inactiveLink");
        $("#BtnMenu").addClass("bg-themeprimary");


        $("#Btnfilter").click(function () {

            $("#toggleFiltering").click();



        });
        $("#btnDelete").click(function () {

            $("#DeleteClick").click();



        });

        $("#btnrefresh").click(function () {

            $("#gridrefresh").click();

        });
        $("#BtnMenu").click(function () {
            $(".ui-grid-icon-menu").click();
        });
        $("#BtnCreate").click(function () {
            debugger;
            
          

            $("#gridnew").click();
            $("#popup").show();
        });

        $(".Rolls").mCustomScrollbar({
            theme: "light-3"
        });

        $("#Selectall_Rolls #SelectRoll").click(function (event) {
            if (this.checked) {
                $(".ckbRoll").each(function () {
                    this.checked = true;
                });
            }
            else {
                $(".ckbRoll").each(function () {
                    this.checked = false;
                });
            }

        });

        function tools() {
            $(".toolbar-container").css("display", "block");
            $("#BtnCreate").removeClass("inactiveLink");
            $("#BtnCreate").addClass("bg-themeprimary");

        }
    });
</script>


<div ng-controller="RepositoryCtrl">
    <input id='toggleFiltering' type="hidden" ng-click="toggleFiltering()" />
    <input id='gridrefresh' type="hidden" ng-click="gridrefresh()" />
    <input id='gridnew' type="hidden" ng-click="gridnew()" />
    <input id='DeleteClick' type="hidden" ng-click="DeleteClick()" />

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="NotApply">
            <div class="clearfix" id="MedicalData">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <span class="widget-caption">@Html.LanguageString("Repository") </span>
                    </div>
                    <div class="widget-body">

                        <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-grouping ui-grid-exporter ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-pagination class="grid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="modal" id="popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Repository</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="row">
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">Name</label>
                                <input type="text" class="form-control" id="Name" ng-model="Repository.Name" required/>
                            </div>

                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">Description</label>
                                <input type="text" class="form-control" id="Description" ng-model="Repository.Description" required />
                            </div>

                        </div>




                    </form>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <button type="button" ng-click="save()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="tablepopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Repository</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-lg-5">
                            <div class="Rolls mCustomScrollbar">
                                <input type="hidden" id="rephd" />
                                <h5 class="themeprimary">@Html.LanguageString("Tables")</h5>
                                <table width="100%">


                                    

                                        <tr ng-repeat="s in ReposTables" ng-if="s.IsTable==false">
                                            <td>
                                                @*@Html.CheckBox(item.RepoId.ToString(), false, new { @class = "ckbRoll", Id = item.RepoId })*@
                                                <input type="checkbox" class="ckbRoll" id="{{s.TableId}}" />
                                            </td>

                                            <td>
                                              {{s.TableName}}
                                            </td>



                                        </tr>
                                    


                                </table>

                            </div>
                            <div id="Selectall_Rolls">@Html.CheckBox("SelectRoll")<span class="selectall">Select All</span></div>
                        </div>
                        <div class="col-lg-2 Rolls_cender">
                            <a id="AssignRole" class="roleset bg-themeprimary" ng-click="AssignTable()"><i class="glyphicon glyphicon-forward"></i></a>
                            <a id="DeleteRole" class="roleset bg-themeprimary" ng-click="DeleteTable()"><i class="glyphicon glyphicon-backward"></i></a>
                        </div>
                        <div class="col-lg-5">

                            <div class="Rolls mCustomScrollbar">
                                <h5 class="themeprimary">@Html.LanguageString("Selected Tables")</h5>
                                <table width="100%">

                                    <tr ng-repeat="s in ReposTables" ng-if="s.IsTable==true">
                                        <td>
                                            @*@Html.CheckBox(item.RepoId.ToString(), false, new { @class = "ckbRoll", Id = item.RepoId })*@
                                            <input type="checkbox" class="ckbRolls" id="{{s.TableId}}" />
                                        </td>

                                        <td>
                                            {{s.TableName}}
                                        </td>



                                    </tr>


                                </table>
                            </div>

                            <div id="Selectall_Rolls"> @Html.CheckBox("SelectAllS")<span class="selectall">Select All</span></div>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
       


    });
</script>