﻿

<script src="~/Scripts/MetaDb/RepositoryController.js?@DateTime.Now"></script>



<div ng-controller="RepositoryCtrl">
    

                <div class="modal-body">
                    <form role="form" class="row">
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">Name</label>
                                <input type="text" class="form-control" id="Name" ng-model="Repository.Name" required/>
                            </div>

                            <div class="form-group col-lg-6  ">
                                <label class="control-label ">Description</label>
                                <input type="text" class="form-control" id="Description" ng-model="Repository.Description" required />
                            </div>

                        </div>




                    </form>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <button type="button" ng-click="save()" class="btn btn-primary">Save</button>
                </div>
          
    </div>


    




