﻿@{
    ViewBag.Title = "Meta DB";
    Layout = null;
}


<!DOCTYPE html>
<html ng-app="Metadbapp" ng-cloak>
<head>
    <meta charset="utf-8" />
    <title>Meta Db</title>

    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="cache-control" content="no-store" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <meta name="description" content="@ViewBag.Description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*Jquery*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @*Icons*@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    @*Angular*@

    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>*@


    <script src="~/assets/angular.js"></script>
    <script src="~/assets/angular-ui-router.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>


    <script src="~/assets/js/angular-ui-tree.min.js"></script>
    <link href="~/assets/css/angular-ui-tree.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.js"></script>

    <script src="~/assets/js/angular-ui-bootstrap-contextMenu.js"></script>

    <link href="~/assets/css/blade.css?@DateTime.Now" rel="stylesheet" />
    <link href="~/assets/css/beyond.min.css?@DateTime.Now" rel="stylesheet" />
    @*<script src="~/app/MetaDB/Directive/Popup.js?@DateTime.Now"></script>*@
    <script src="~/app/MetaDB/Metadbapp.js?@DateTime.Now"></script>

    <script src="~/app/MetaDB/Controller/TreeViewCtrl.js?@DateTime.Now"></script>
    @* <script src="~/app/MetaDB/Directive/CommonPopup.js?@DateTime.Now"></script>*@



    @*<script src="~/app/MetaDB/Controller/CustomDataTypeEditCtrl.js?@DateTime.Now"></script>*@

    <link href="~/assets/CodeMirror/lib/codemirror.css" rel="stylesheet" />
    <link href="~/assets/CodeMirror/addon/hint/show-hint.css" rel="stylesheet" />
    <link href="~/assets/CodeMirror/addon/fold/foldgutter.css" rel="stylesheet" />

    <link href="~/assets/CodeMirror/addon/lint/lint.css" rel="stylesheet" />

    <script src="~/assets/CodeMirror/lib/codemirror.js"></script>

    <script src="~/assets/CodeMirror/mode/javascript/javascript.js"></script>
    <script src="~/assets/CodeMirror/mode/css/css.js"></script>
    <script src="~/assets/CodeMirror/mode/sql/sql.js"></script>
    <script src="~/assets/CodeMirror/mode/xml/xml.js"></script>

    <script src="~/assets/CodeMirror/addon/hint/show-hint.js"></script>
    <script src="~/assets/CodeMirror/addon/hint/css-hint.js"></script>
    <script src="~/assets/CodeMirror/addon/hint/javascript-hint.js"></script>
    <script src="~/assets/CodeMirror/addon/hint/html-hint.js"></script>
    <script src="~/assets/CodeMirror/addon/hint/sql-hint.js"></script>
    <script src="~/assets/CodeMirror/addon/hint/css-hint.js"></script>

    <script src="~/assets/CodeMirror/addon/edit/closebrackets.js"></script>
    <script src="~/assets/CodeMirror/addon/edit/matchbrackets.js"></script>
    <script src="~/assets/CodeMirror/addon/edit/matchtags.js"></script>
    <script src="~/assets/CodeMirror/addon/edit/closetag.js"></script>

    <script src="~/assets/CodeMirror/addon/comment/continuecomment.js"></script>
    <script src="~/assets/CodeMirror/addon/comment/comment.js"></script>

    <script src="~/assets/CodeMirror/addon/fold/brace-fold.js"></script>
    <script src="~/assets/CodeMirror/addon/fold/comment-fold.js"></script>
    <script src="~/assets/CodeMirror/addon/fold/foldcode.js"></script>
    <script src="~/assets/CodeMirror/addon/fold/foldgutter.js"></script>
    <script src="~/assets/CodeMirror/addon/fold/indent-fold.js"></script>
    <script src="~/assets/CodeMirror/addon/fold/xml-fold.js"></script>


    <script src="https://ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js"></script>
    <script src="https://rawgithub.com/zaach/jsonlint/79b553fb65c192add9066da64043458981b3972b/lib/jsonlint.js"></script>
    <script src="http://csslint.net/js/csslint.js"></script>
    <script src="~/assets/CodeMirror/addon/lint/lint.js"></script>
    <script src="~/assets/CodeMirror/addon/lint/javascript-lint.js"></script>
    <script src="~/assets/CodeMirror/addon/lint/json-lint.js"></script>
    <script src="~/assets/CodeMirror/addon/lint/css-lint.js"></script>
</head>

<body>

    <div ui-view></div>

    @*<style>
        .cnt, .nav-bar .bar, .blade .blade-head, .blade-head .blade-toolbar {
            background: #fff;
        }

        .blade-head .blade-t, a, .nav-bar .menu-link, .blade-nav .menu-item:after, .blade-t .blade-t_subhead, .nav-bar h4, .blade-toolbar .menu-btn {
            /*.blade-nav .menu li.menu-item i,*/
            color: #001940;
        }

        .blade .blade-head, .blade .blade-container, .nav-bar.nav-property .bar, .nav-bar .bar {
            box-shadow: none;
        }
        .nav-bar, .blade-nav .menu {
            background: #001940;
        }

       
    </style>*@

</body>
</html>