﻿

<div id="TableListpopup" class="modal" style="display:block;" ng-show="showmodalpopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="closepopup($event)" id="btnclose" class="close closepopup" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{popuptitle}}</h4><p class="popupdesp"></p>
            </div>
            <div class="modal-body">
                <div id="popupcontent" class="tablediv">
                    <div class="tablerow">
                        <label style="padding:8px;font-size: 15px;">Search :</label>
                        <input type="text" ng-model="query[queryBy]" autofocus />


                    </div>
                </div>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th ng-repeat="item in popupheader">{{item.Name==null?item.Field:item.Name}}</th>


                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="list in popupcontent | filter:query">
                            <td><input type="checkbox" class="fa fa-check-square-o" name="selectedInvoice[]" ng-model="list.selected"></td>
                            <td>{{list.Id}}</td>
                            <td>{{list.Desc}}</td>


                        </tr>
                    </tbody>
                </table>

               

            </div>
            <!--<div class="modal-footer">
                <button type="button" ng-click="closepopup()" id="close" class="closepopup btn btn-warning">Cancel</button>
                <button type="button" ng-click="submitfield()" class="btn btn-success">OK</button>
            </div>-->
        </div>

    </div>

</div>