﻿
@{
    ViewBag.Title = "DataSourseDetails";
}

<style>

    .ui-grid {
    border: none !important;
    min-height:147px;
    height: auto!important;
}

     .ui-grid-render-container-body .ui-grid-viewport {
    width: 957px;
    height: auto !important;
   
}
    .ui-grid-viewport {
        min-height: 50px;
    }



</style>

<script src="~/Scripts/MetaDb/DataSourceDetailsController.js?@DateTime.Now"></script>

<div ng-controller="DataSourceDetailsCtrl">
    <input id='toggleFiltering' type="hidden" ng-click="toggleFiltering()" />
    <input id='gridrefresh' type="hidden" ng-click="gridrefresh()" />
  
    <input id='DataSourceId' type="hidden" value="@ViewBag.DataSource" />


    <div class="row">
        <div class="col-lg-12">
            <div class="mail-container toolbar">
                <div class="mail-header">
                    <ul class="header-buttons">
                        <li>
                            <a id="BtnCreateTable" class="tooltip-primary bg-themeprimary" data-toggle="tooltip" data-original-title="Create" ng-click="CreateTable()"><i class="fa fa-pencil-square-o"></i></a>
                        </li>

                        <li>
                            <a id="BtnDeleteDelete" class="tooltip-primary bg-themeprimary" data-toggle="tooltip" data-original-title="Remove" ng-click="DeleteTable()"><i class="fa fa-trash-o"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="NotApply">
            <div class="clearfix" id="MedicalData">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <span class="widget-caption">@Html.LanguageString("DataSourse Tables") </span>
                    </div>
                    <div class="widget-body">

                        <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-grouping ui-grid-exporter ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-pagination class="grid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="UpdateTablePopup" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@Html.LanguageString("DataSource Tables")</h4>
                </div>
                <div class="modal-body">


                    <table class="table" style=" border:1px solid #ddd;">
                        <tbody>
                            <tr>
                                <th>@Html.LanguageString("Name")</th>
                                @*<td><input type="text" class="form-control input-sm" ng-model="Dtable.TableName" /></td>*@
                                <td><select ng-model="Dtable.TableName" ng-options="g.Id as g.Desc for g in TableNameDrop"></select></td>
                            </tr>

                            <tr>
                                <th>@Html.LanguageString("Alias")</th>
                                <td><input type="text" class="form-control input-sm" ng-model="Dtable.Alias" /></td>
                            </tr>

                        

                        </tbody>

                    </table>


                    <div>
                        <input ng-click="SaveDTable()" style="top:5px;left:90%;" type="button" class="btn" value="@Html.LanguageString("Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>


    @Html.Partial("Pv_DataSourceJoins")

    @Html.Partial("Pv_DataSourceWhere")

    @Html.Partial("Pv_DataSourceOrder")

    @Html.Partial("Pv_DataSourceFields")






</div>