﻿
@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/MetaDb/DataSourceController.js?@DateTime.Now"></script>


<script>

    $(document).ready(function () {

        $(".toolbar-container").css("display", "block");


        $("#btnrefresh").removeClass("inactiveLink");
        $("#btnrefresh").addClass("bg-themeprimary");

        $("#Btnfilter").removeClass("inactiveLink");
        $("#Btnfilter").addClass("bg-themeprimary");
        $("#BtnMenu").removeClass("inactiveLink");
        $("#BtnMenu").addClass("bg-themeprimary");

        $("#BtnCreate").removeClass("inactiveLink");
        $("#BtnCreate").addClass("bg-themeprimary");

        

        $("#btnDelete").removeClass("inactiveLink");
        $("#btnDelete").addClass("bg-themeprimary");



        $("#Btnfilter").click(function () {

            $("#toggleFiltering").click();



        });

        $("#btnrefresh").click(function () {

            $("#gridrefresh").click();

        });
        $("#BtnMenu").click(function () {
            $(".ui-grid-icon-menu").click();
        });


        $("#BtnCreate").click(function () {
            $("#CreateClick").click();
        });

        $("#btnDelete").click(function () {
            $("#DeleteClick").click();
        });

        



    });
</script>



<div ng-controller="DataSourceCtrl">
    <input id='toggleFiltering' type="hidden" ng-click="toggleFiltering()" />
    <input id='gridrefresh' type="hidden" ng-click="gridrefresh()" />
    <input id='CreateClick' type="hidden" ng-click="CreateClick()" />

    <input id='DeleteClick' type="hidden" ng-click="DeleteClick()" />



    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="NotApply">
            <div class="clearfix" id="MedicalData">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <span class="widget-caption">@Html.LanguageString("DataSourse List") </span>
                    </div>
                    <div class="widget-body">

                        <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-grouping ui-grid-exporter ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-pagination class="grid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <div id="UpdateType" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@Html.LanguageString("Update Source")</h4>
                </div>
                <form ng-submit="SaveSource()">

                    <div class="modal-body">


                        <table class="table" style=" border:1px solid #ddd;">
                            <tbody>
                                <tr>
                                    <th>@Html.LanguageString("Name")</th>
                                    <td><input type="text" class="form-control input-sm" ng-model="src.Name" required /></td>
                                </tr>

                                <tr>
                                    <th>@Html.LanguageString("Repository")</th>
                                    <td><select ng-model="src.RepoId" ng-options="g.Id as g.Desc for g in RepoIdDrop" required></select></td>
                                </tr>


                            </tbody>

                        </table>


                        <div>
                            <input  style="top:5px;left:90%;" type="submit" class="btn" value="@Html.LanguageString("Save")" />
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>




</div>

