﻿
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-container toolbar">
                <div class="mail-header">
                    <ul class="header-buttons">
                        <li>
                            <a id="BtnCreateTable" class="tooltip-primary bg-themeprimary" data-toggle="tooltip" data-original-title="Create" ng-click="CreateJoins()"><i class="fa fa-pencil-square-o"></i></a>
                        </li>

                        <li>
                            <a id="BtnDeleteDelete" class="tooltip-primary bg-themeprimary" data-toggle="tooltip" data-original-title="Remove" ng-click="DeleteJoins()"><i class="fa fa-trash-o"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="NotApply">
            <div class="clearfix" id="MedicalData">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <span class="widget-caption">@Html.LanguageString("DataSourse Tables") </span>
                    </div>
                    <div class="widget-body">

                        <div id="grid2" ui-grid="gridOptions2" ui-grid-selection ui-grid-grouping ui-grid-exporter ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-pagination class="grid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="UpdateJoinPopup" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@Html.LanguageString("DataSource Joins")</h4>
                </div>
                <div class="modal-body">


                    <table class="table" style=" border:1px solid #ddd;">
                        <tbody>
                            <tr>
                                <th>@Html.LanguageString("ParentTableAlias")</th>
                                @*<td><input type="text" class="form-control input-sm" ng-model="Dtable.TableName" /></td>*@
                                <td><select ng-model="DJoin.ParentTableAlias" ng-click="ParentAliasChange(DJoin.ParentTableAlias)" ng-options="g.Id as g.Desc for g in ParentTableAliasDrop"></select></td>
                            </tr>

                            <tr>
                                <th>@Html.LanguageString("ParentTableJoinField")</th>
                                <td><select ng-model="DJoin.ParentTableJoinField" ng-options="g.Id as g.Desc for g in ParentTableJoinFieldDrop"></select></td>
                            </tr>

                            <tr>
                                <th>@Html.LanguageString("ChildTableAlias")</th>
                                <td><select ng-model="DJoin.ChildTableAlias" ng-click="ChildAliasChange(DJoin.ChildTableAlias)" ng-options="g.Id as g.Desc for g in ParentTableAliasDrop"></select></td>
                            </tr>

                            <tr>
                                <th>@Html.LanguageString("ChildTableField")</th>
                                <td><select ng-model="DJoin.ChildTableField" ng-options="g.Id as g.Desc for g in ChildTableFieldDrop"></select></td>
                            </tr>

                        

                        </tbody>

                    </table>


                    <div>
                        <input ng-click="SaveDJoin()" style="top:5px;left:90%;" type="button" class="btn" value="@Html.LanguageString("Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>



