﻿
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-container toolbar">
                <div class="mail-header">
                    <ul class="header-buttons">
                        <li>
                            <a id="BtnCreateTable" class="tooltip-primary bg-themeprimary" data-toggle="tooltip" data-original-title="Create" ng-click="CreateOrder()"><i class="fa fa-pencil-square-o"></i></a>
                        </li>

                        <li>
                            <a id="BtnDeleteDelete" class="tooltip-primary bg-themeprimary" data-toggle="tooltip" data-original-title="Remove" ng-click="DeleteOrder()"><i class="fa fa-trash-o"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="NotApply">
            <div class="clearfix" id="MedicalData">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <span class="widget-caption">@Html.LanguageString("DataSourse Order") </span>
                    </div>
                    <div class="widget-body">

                        <div id="grid4" ui-grid="gridOptions4" ui-grid-selection ui-grid-grouping ui-grid-exporter ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-pagination class="grid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="UpdateOrderPopup" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@Html.LanguageString("DataSource Order")</h4>
            </div>
            <div class="modal-body">


                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>
                        <tr>
                            <th>@Html.LanguageString("Alias")</th>
                            @*<td><input type="text" class="form-control input-sm" ng-model="Dtable.TableName" /></td>*@
                            <td><select ng-model="DOrder.Alias" ng-click="WhereAliasChange(DOrder.Alias)" ng-options="g.Id as g.Desc for g in ParentTableAliasDrop"></select></td>
                        </tr>

                        <tr>
                            <th>@Html.LanguageString("Field")</th>
                            <td><select ng-model="DOrder.Field" ng-options="g.Id as g.Desc for g in WhereFieldDrop"></select></td>
                        </tr>

                        <tr>
                            <th>@Html.LanguageString("Direction")</th>
                            <td><select ng-model="DOrder.Direction" ng-options="g.Id as g.Desc for g in DirectionDrop"></select></td>
                        </tr>

                        <tr>
                            <th>@Html.LanguageString("SortOrder")</th>
                            <td><input type="text" ng-model="DOrder.SortOrder" /></td>
                        </tr>

                        <tr>
                            <th>@Html.LanguageString("Status")</th>
                            <td><select ng-model="DOrder.Status" ng-options="g.Id as g.Desc for g in StatusDrop"></select></td>
                        </tr>



                    </tbody>

                </table>


                <div>
                    <input ng-click="SaveDOrder()" style="top:5px;left:90%;" type="button" class="btn" value="@Html.LanguageString("Save")" />
                </div>
            </div>

        </div>
    </div>
</div>



