﻿
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-container toolbar">
                <div class="mail-header">
                    <ul class="header-buttons">
                        <li>
                            <a  class="tooltip-primary bg-themeprimary" data-toggle="tooltip" data-original-title="Create" ng-click="CreateField()"><i class="fa fa-pencil-square-o"></i></a>
                        </li>

                        <li>
                            <a class="tooltip-primary bg-themeprimary" data-toggle="tooltip" data-original-title="Remove" ng-click="DeleteField()"><i class="fa fa-trash-o"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="NotApply">
            <div class="clearfix" id="MedicalData">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <span class="widget-caption">@Html.LanguageString("DataSourse Fields") </span>
                    </div>
                    <div class="widget-body">

                        <div id="grid5" ui-grid="gridOptions5" ui-grid-selection ui-grid-grouping ui-grid-exporter ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-pagination class="grid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="UpdateFieldPopup" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@Html.LanguageString("DataSource Fields")</h4>
            </div>
            <div class="modal-body">


                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>
                        <tr>
                            <th>@Html.LanguageString("Alias")</th>
                            @*<td><input type="text" class="form-control input-sm" ng-model="Dtable.TableName" /></td>*@
                            <td><select ng-model="DField.Alias" ng-click="WhereAliasChange(DField.Alias)" ng-options="g.Id as g.Desc for g in ParentTableAliasDrop"></select></td>
                        </tr>

                        <tr>
                            <th>@Html.LanguageString("Field")</th>
                            <td><select ng-model="DField.Field" ng-options="g.Id as g.Desc for g in WhereFieldDrop"></select></td>
                        </tr>

                        <tr>
                            <th>@Html.LanguageString("DataType")</th>
                            <td><select ng-model="DField.DataType" ng-options="g.Id as g.Desc for g in DataTypeDrop"></select></td>
                        </tr>

                        <tr>
                            <th>@Html.LanguageString("Custom Data Type")</th>
                            @*<td><input type="text" class="form-control input-sm" ng-model="Dtable.TableName" /></td>*@
                            <td><select ng-model="DField.CDT" ng-click="CdtChange(DField.CDT)" ng-options="g.Id as g.Desc for g in CDTDrop"></select></td>
                        </tr>


                        <tr>
                            <th>@Html.LanguageString("IsMandatory")</th>
                            <td><input type="checkbox" ng-model="DField.IsMandatory" /></td>
                        </tr>

                        <tr>
                            <th>@Html.LanguageString("Label")</th>
                            <td><input type="text" ng-model="DField.LabelId" /></td>
                        </tr>

                        <tr>
                            <th>@Html.LanguageString("Help Text")</th>
                            <td><input type="text" ng-model="DField.HelpTextId" /></td>
                        </tr>


                        <tr>
                            <th>@Html.LanguageString("Aggregate Function")</th>
                            <td><input type="text" ng-model="DField.AggregateFunction" /></td>
                        </tr>



                    </tbody>

                </table>


                <div>
                    <input ng-click="SaveDField()" style="top:5px;left:90%;" type="button" class="btn" value="@Html.LanguageString("Save")" />
                </div>
            </div>

        </div>
    </div>
</div>



