.angular-ui-tree {
}

.angular-ui-tree-empty, .angular-ui-tree-dropzone {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.angular-ui-tree-empty {
    pointer-events: none;
}

.angular-ui-tree-nodes {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 20px;
}

.angular-ui-tree-node, .angular-ui-tree-placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-hidden {
    display: none;
}

.angular-ui-tree-placeholder {
    margin: 10px;
    padding: 0;
    min-height: 30px;
}

.angular-ui-tree-handle {
    cursor: move;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}

.angular-ui-tree-drag .tree-node-content {
    margin-top: 0;
}




.angular-ui-tree-handle {
    background: #f8faff;
    border: none;
    color: #7c9eb2;
    padding: 3px;
}

    .angular-ui-tree-handle:hover {
        color: #438eb9;
        background: #f4f6f7;
        border-color: #dce2e8;
    }

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height: 100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    /*margin: 10px;*/
    font-size: 13px;
}

.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.angular-ui-tree {
    margin: 10px;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 13px;
    top: 0;
    bottom: 13px;
    border-left: 2px solid #e2e2e2;
}

li.angular-ui-tree-node:before {
    content: "";
    display: block;
    position: absolute;
    /*z-index: 1;*/
    left: -22px;
    top: 13px;
    width: 22px;
    border-bottom: 2px solid #e2e2e2;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 35px;
}

.angular-ui-tree-nodes {
    overflow: hidden;
}

.angular-ui-tree-node > .tree-node-content,
.angular-ui-tree-node > .angular-ui-tree-handle {
    width: auto;
    min-width: 100px;
    display: inline-block;
    border: none;
}
.angular-ui-tree-node > .angular-ui-tree-handle {
    cursor:pointer;
}

    .angular-ui-tree-node > .tree-node-content:hover {
        background: #f3f3f3;
    }

.angular-ui-tree-nodes .tree-node:before, .angular-ui-tree-nodes .tree-node:after {
    display: none;
}
.tree-node {
    border:none;
    padding:3px;
}
.tree-node > .angular-ui-tree-handle {
    padding: 0 6px;
}