.ranger {
  box-sizing: border-box;
  background: #ddd;
  height: 50px;
  padding: 0 30px;
  border-radius: 6px; }
  .ranger-scale {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 21.5px 0; }
    .ranger-scale:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 7px;
      border: 1px solid #444;
      border-radius: 3px; }
  .ranger-marker {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #444;
    z-index: 2; }
    .ranger-marker:last-child {
      left: 100%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .ranger-marker:after {
      display: none;
      content: attr(marker-value);
      position: absolute;
      top: -130%;
      background: #444;
      color: #fff;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50% 50% 50% 0;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .ranger-marker:focus {
      outline: none; }
      .ranger-marker:focus:after, .ranger-marker:focus:before {
        display: block; }
  .ranger-fill {
    position: absolute;
    top: 21.5px;
    bottom: 21.5px;
    background: #444; }
