﻿
.ui-grid-card-view {display:block;}
.ui-grid-card-view .ui-grid-pinned-container {display:none !important;}
.ui-grid-card-view .ui-grid-header {display: none;}
.ui-grid-card-view .ui-grid-render-container {margin: 0 !important;}
.ui-grid-card-view .ui-grid-viewport {min-height: 100px;}

.ui-grid-card-view .ui-grid-canvas {
    position: relative;
    width: 100% !important;
    background:#eee;
    float: left;
}
.ui-grid-card-view .ui-grid-row {
    float: left;
    height: 100% !important;
    padding: 10px;
    width: 33.3%;
   clear: inherit;
}

.ui-grid-card-view .ui-grid-row .ng-isolate-scope {
    border: 1px solid #ddd;
    width: 100%;  
    padding:40px 10px 10px 10px;
    position: relative;
    float: left;
    height: 100%;
    background:#fff;
    border: 1px solid #d8d8d8;
    box-shadow: 1px 3px 3px rgba(0,0,0,.1);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;   
}

.ui-grid-card-view .ui-grid-row .ng-isolate-scope:hover {
    border: 1px solid #eed272;
    box-shadow: 0 0 3px 2px #ffe0c5;
}
.ui-grid-card-view .ui-grid-cell {
    overflow: visible;
    position: relative;
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0;
    float: left;
        background: #fff;
    height:auto !important;
}
.ui-grid-card-view .ui-grid-row:hover .ui-grid-cell,
.ui-grid-card-view .ui-grid-row:nth-child(odd) .ui-grid-cell,
.ui-grid-card-view .ui-grid-row:nth-child(even) .ui-grid-cell {
    background:#fff;
}
.ui-grid-card-view .ui-grid-cell-contents {
    padding: 1px 0px;
    width:100%;
    height:17px;
}
.ui-grid-card-view .ui-grid-row .ui-grid-cell{ /*.ui-grid-cell:first-child*/ 
         width: 100%;
    margin: 0px 0 0px 0;
    height: 100% !important;
    float: left;
}
.ui-grid-card-view .ui-grid-row .ui-grid-cell.cardviewtitle {
    position: absolute;
    top: 0;
    height: 30px !important;    
    min-width: 100%;
    left: 0;
    right: 0;
}
.ui-grid-card-view .ui-grid-row .ui-grid-cell .ui-grid-cell-contents {display: table;height: 100%;} /*.ui-grid-cell:first-child*/ 
.ui-grid-card-view .ui-grid-row .ui-grid-cell .ui-grid-cell-contents div.imageview div { /*.ui-grid-cell:first-child*/ 
    display: inline-block;
    width: 135px;
    height: 135px;
    margin-bottom:10px;
    vertical-align: middle;
}
.ui-grid-card-view .ui-grid-row .ui-grid-cell .ui-grid-cell-contents div img { /*.ui-grid-cell:first-child*/ 
    width: 100%;
    height: 100%;
}
span.cellheadername {display:none;}
.ui-grid-card-view span.cellheadername {
    font-weight: bold;
    display:inline-block;
    padding: 0 10px;
    width:50%; float:left;
    overflow:hidden;
}
.ui-grid-card-view span.celltemplatename {display:inline-block;width:50%;float:left;}
.ui-grid-card-view .ui-grid-row .ui-grid-cell.cardviewtitle span.celltemplatename {
    width: 100%;
    color:#fff;
    height: 30px !important;
    font: 600 13px/30px open sans;
    overflow: hidden;
    padding: 0 5px;
    background:#2dc3e8;
}
.ui-grid-card-view .ui-grid-row .ui-grid-cell.cardviewtitle span.cellheadername {display:none;}
.ui-grid-card-view .ui-grid-row .ui-grid-cell.cardviewtitle .ui-grid-cell-contents {height:30px;padding:0px;}
.ui-grid-card-view .ui-grid-row .ui-grid-cell .ui-grid-cell-contents >div {width: 100%;text-align: center;} /*.ui-grid-cell:first-child*/ 
.widget-buttons .gridfilter input {border-radius: 5px !important;}
.ui-grid-card-view .ui-grid-footer-aggregates-row {display:none;}

.ui-grid-card-view .ui-grid-row .ui-grid-cell.cardviewcheckbox {
    position: absolute;
    top: 6px;
    z-index: 4;
    right: 6px;
    display: inline-block;
    width: 18px !important;
    min-width: 18px !important;
    max-width: 18px !important;
    float: left;
    background:transparent !important;
}
.ui-grid-card-view .gridckb {
    margin: 0 !important;
    padding: 0;
    width: 18px !important;
    height: 18px !important;
}


.ui-grid-card-view .ui-grid-row.ui-grid-tree-header-row {
    width: 100%;
}
.ui-grid-card-view .ui-grid-row.ui-grid-tree-header-row .ng-isolate-scope {padding:0px;}
.ui-grid-card-view .ui-grid-row.ui-grid-tree-header-row .ui-grid-cell {display:none;}
.ui-grid-card-view .ui-grid-row.ui-grid-tree-header-row .ui-grid-cell:first-child {
    width: 100%;
    color: #fff;
    height: 30px !important;
    font: 600 13px/30px open sans;
    overflow: hidden;
    padding: 0 5px;
    background: #2dc3e8;
    display:block;
}

.ui-grid-card-view .ui-grid-row.ui-grid-tree-header-row .ui-grid-cell:first-child span {
        width: auto;
}

/*.ui-grid-card-view .ui-grid-row.ui-grid-tree-header-row .ng-isolate-scope {
    padding:0px;
}
.ui-grid-card-view .ui-grid-row.ui-grid-tree-header-row .ui-grid-cell {
        height: 25px !important;
}
.ui-grid-card-view .ui-grid-row.ui-grid-tree-header-row span.cellheadername {
    display: none;
}*/

@media only screen and (max-width: 850px) {

    .ui-grid-card-view .ui-grid-row {
        width:100%;
    }
}
@media only screen and (min-width:850px) and (max-width: 999px) {

    .ui-grid-card-view .ui-grid-row {
        width:50%;
    }
}

@media only screen and (min-width:1000px) and (max-width: 1499px) {

    .ui-grid-card-view .ui-grid-row {
        width:33.3333%;
    }
}

@media only screen and (min-width:1500px) and (max-width: 1699px) {

    .ui-grid-card-view .ui-grid-row {
        width:25%;
    }
}

@media only screen and (min-width:1700px) and (max-width: 1999px) {

    .ui-grid-card-view .ui-grid-row {
        width:20%;
    }
}
@media only screen and (min-width:2000px)  {

    .ui-grid-card-view .ui-grid-row {
        width:16.666%;
    }
}

