/*!
angular-xeditable - 0.1.8
Edit-in-place for angular.js
Build date: 2014-01-10 
*/

.editable-wrap {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
}

    .editable-wrap .editable-controls, .editable-wrap .editable-error {
        margin-bottom: 2px !important;
    }

        .editable-wrap .editable-controls > input, .editable-wrap .editable-controls > select, .editable-wrap .editable-controls > textarea {
            margin-bottom: 0px;
        }

    .editable-wrap .editable-input {
        display: inline-block;
            padding: 2px 4px;
    height: auto;
    }

.editable-buttons {
    display: inline-block;
    vertical-align: top;
}

    .editable-buttons button {
        margin-left: 5px;
    }

.editable-input.editable-has-buttons {
    width: auto;
}

.editable-bstime .editable-input input[type=text] {
    width: 46px;
}

.editable-bstime .well-small {
    margin-bottom: 0;
    padding: 10px;
}

.editable-range output {
    display: inline-block;
    min-width: 30px;
    vertical-align: top;
    text-align: center;
}

.editable-color input[type=color] {
    width: 50px;
}

.editable-checkbox label span, .editable-checklist label span, .editable-radiolist label span {
    margin-left: 7px;
    margin-right: 10px;
}

.editable-hide {
    display: none !important;
}

.editable-click, a.editable-click {
    text-decoration: none;
    color: #428bca;
    border-bottom: dashed 1px #428bca;
}

    .editable-click:hover, a.editable-click:hover {
        text-decoration: none;
        color: #2a6496;
        border-bottom-color: #2a6496;
    }

.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
    font-style: italic;
    color: #D14;
    text-decoration: none;
}

.editable-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.editable-input {
    font-size: 11px;
    color: #858585;
    background-color: #fbfbfb;
    border: 1px solid #d5d5d5;
    padding: 6px 12px;
}
span.editable-input {
    border: none;
        box-shadow: none;
}
.editable-radiolist label span {
    display: inline-block;
    vertical-align: super;
}