﻿


<script src="~/Scripts/MetaDb/CustomDataTypeController.js"></script>


<div ng-controller="CustomDataTypeCtrl" ng-cloak class="ng-cloak">

    <div class="modal-body">
        <table class="table" style=" border:1px solid #ddd;">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td><input type="text" class="form-control input-sm" ng-model="cdt.Name" /></td>
                </tr>

                <tr>
                    <th>Data Type</th>
                    <td><select ng-model="cdt.DataType" ng-options="g.Id as g.Desc for g in DataTypeDrop"></select></td>
                </tr>

                <tr>
                    <th>Default Value</th>
                    <td><input type="text" class="form-control input-sm" ng-model="cdt.DefaultValue" /></td>
                </tr>

                <tr>
                    <th>EnumType</th>
                    <td><select ng-model="cdt.EnumType" ng-options="g.Id as g.Desc for g in EnumTypeDrop"></select></td>
                </tr>

                <tr>
                    <th>Label</th>
                    <td><input type="text" class="form-control input-sm" ng-model="cdt.Lable" /></td>
                </tr>


                <tr>
                    <th>Helper Text</th>
                    <td><input type="text" class="form-control input-sm" ng-model="cdt.HelpTextId" /></td>
                </tr>



                <tr>
                    <th>Related Table</th>
                    <td><select ng-model="cdt.RelatedTable" ng-options="g.Id as g.Desc for g in RelatedTableDrop" ng-change="ChangeRelatedFields()"></select></td>
                </tr>

                <tr>
                    <th>Related Table Field</th>
                    <td><select ng-model="cdt.RelatedTableField" ng-options="g.Id as g.Desc for g in RelatedTableFieldDrop"></select></td>
                </tr>





            </tbody>

        </table>


        <div>
            <input ng-click="SaveType()" style="top:5px;left:90%;" type="button" class="btn" value="@Html.LanguageString("Save")" />
        </div>
    </div>

</div>

