﻿
@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/MetaDb/CustomDataTypeController.js?@DateTime.Now"></script>


<script>

    $(document).ready(function () {

        $(".toolbar-container").css("display", "block");


        $("#btnrefresh").removeClass("inactiveLink");
        $("#btnrefresh").addClass("bg-themeprimary");

        $("#Btnfilter").removeClass("inactiveLink");
        $("#Btnfilter").addClass("bg-themeprimary");
        $("#BtnMenu").removeClass("inactiveLink");
        $("#BtnMenu").addClass("bg-themeprimary");

        $("#BtnCreate").removeClass("inactiveLink");
        $("#BtnCreate").addClass("bg-themeprimary");

        

        $("#btnDelete").removeClass("inactiveLink");
        $("#btnDelete").addClass("bg-themeprimary");



        $("#Btnfilter").click(function () {

            $("#toggleFiltering").click();



        });

        $("#btnrefresh").click(function () {

            $("#gridrefresh").click();

        });
        $("#BtnMenu").click(function () {
            $(".ui-grid-icon-menu").click();
        });


        $("#BtnCreate").click(function () {
            $("#CreateClick").click();
        });

        $("#btnDelete").click(function () {
            $("#DeleteClick").click();
        });

        



    });
</script>



<div ng-controller="CustomDataTypeCtrl" ng-cloak class="ng-cloak">
    <input id='toggleFiltering' type="hidden" ng-click="toggleFiltering()" />
    <input id='gridrefresh' type="hidden" ng-click="gridrefresh()" />
    <input id='CreateClick' type="hidden" ng-click="CreateClick()" />

    <input id='DeleteClick' type="hidden" ng-click="DeleteClick()" />



    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="NotApply">
            <div class="clearfix" id="MedicalData">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <span class="widget-caption">@Html.LanguageString("Custom Data Type") </span>
                    </div>
                    <div class="widget-body">

                        <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-grouping ui-grid-exporter ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-pagination class="grid"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <div id="UpdateType" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@Html.LanguageString("Update Type")</h4>
                </div>
                <div class="modal-body">


                    <table class="table" style=" border:1px solid #ddd;">
                        <tbody>
                            <tr>
                                <th>@Html.LanguageString("Name")</th>
                                <td><input type="text" class="form-control input-sm" ng-model="cdt.Name" /></td>
                            </tr>

                            <tr>
                                <th>@Html.LanguageString("Data Type")</th>
                                <td><select ng-model="cdt.DataType" ng-options="g.Id as g.Desc for g in DataTypeDrop"></select></td>
                            </tr>

                            <tr>
                                <th>@Html.LanguageString("Default Value")</th>
                                <td><input type="text" class="form-control input-sm" ng-model="cdt.DefaultValue" /></td>
                            </tr>

                            <tr>
                                <th>@Html.LanguageString("EnumType")</th>
                                <td><select ng-model="cdt.EnumType" ng-options="g.Id as g.Desc for g in EnumTypeDrop"></select></td>
                            </tr>

                            <tr>
                                <th>@Html.LanguageString("Label")</th>
                                <td><input type="text" class="form-control input-sm" ng-model="cdt.Lable" /></td>
                            </tr>


                            <tr>
                                <th>@Html.LanguageString("Helper Text")</th>
                                <td><input type="text" class="form-control input-sm" ng-model="cdt.HelpTextId" /></td>
                            </tr>



                            <tr>
                                <th>@Html.LanguageString("Related Table")</th>
                                <td><select ng-model="cdt.RelatedTable" ng-options="g.Id as g.Desc for g in RelatedTableDrop" ng-change="ChangeRelatedFields()"></select></td>
                            </tr>

                            <tr>
                                <th>@Html.LanguageString("Related Table Field")</th>
                                <td><select ng-model="cdt.RelatedTableField" ng-options="g.Id as g.Desc for g in RelatedTableFieldDrop"></select></td>
                            </tr>





                        </tbody>

                    </table>


                    <div>
                        <input ng-click="SaveType()" style="top:5px;left:90%;" type="button" class="btn" value="@Html.LanguageString("Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>




</div>

