﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div id="MyCtrl" ng-controller="ApiMethodDetailsEditCtrl">
        <form>
            <div class="clearfix" style="overflow:auto">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>

                        <tr>
                            <th>MethodName</th>
                            <td><input type="text" class="form-control input-sm" ng-model="ApiMethod.MethodName" /></td>
                        </tr>                       
                        <tr>
                            <th>CommandQuery Type</th>
                            <td><select ng-model="ApiMethod.CommandQueryType" class="form-control input-sm" ng-options="g.Id as g.Desc for g in CommandQueryTypeDrop"></select></td>

                        </tr>
                        <tr>
                            <th>Method Type</th>
                            <td><select ng-model="ApiMethod.MethodType" class="form-control input-sm" ng-options="g.Id as g.Desc for g in MethodTypeDrop"></select></td>

                        </tr>
                        <tr>
                            <th>Http Verb</th>
                            <td><select ng-model="ApiMethod.HttpVerb" class="form-control input-sm" ng-options="g.Id as g.Desc for g in HttpVerbDrop"></select></td>

                        </tr>
                        <tr>
                            <th>InputParamCount</th>
                            <td><input type="text" class="form-control input-sm" ng-model="ApiMethod.InputParamCount" /></td>
                        </tr>
                        <tr>
                            <th>OutputParamCount</th>
                            <td><input type="text" class="form-control input-sm" ng-model="ApiMethod.OutputParamCount" /></td>
                        </tr>

                    </tbody>
                </table>
                <div class="pull-right" style="padding-top:5px">
                    <input ng-click="SaveApiMethod()" type="button" class="btn" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
