﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div id="MyCtrl" ng-controller="ApiMethodParameterDetailsEditCtrl">
        <form>
            <div class="clearfix" style="overflow:auto">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>                      
                        <tr>
                            <th>Name</th>
                            <td><input type="text" class="form-control input-sm" ng-model="ApiMethodParameter.Name" /></td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td><input type="text" class="form-control input-sm" ng-model="ApiMethodParameter.Description" /></td>
                        </tr>
                        <tr>
                            <th>Direction</th>
                            <td><select ng-model="ApiMethodParameter.Direction" class="form-control input-sm" ng-options="g.Id as g.Desc for g in DirectionDrop"></select></td>

                        </tr>
                        <tr>
                            <th>Base Datatype</th>
                            <td><select ng-model="ApiMethodParameter.BaseDatatype" class="form-control input-sm" ng-options="g.Id as g.Desc for g in BaseDatatypeDrop"></select></td>

                        </tr>
                        <tr>
                            <th>Custom DataType</th>
                            <td><select ng-model="ApiMethodParameter.CustomDataType" class="form-control input-sm" ng-options="g.Id as g.Desc for g in CustomDataTypeDrop"></select></td>

                        </tr>
                        <tr>
                            <th>IsMandatory</th>
                            <td><input type="checkbox" class="form-control input-sm" id="IsMandatory" ng-model="ApiMethodParameter.IsMandatory" /></td>
                        </tr>
                        <tr>
                            <th>IsOptional</th>
                            <td><input type="checkbox" class="form-control input-sm" id="IsReadOnly" ng-model="ApiMethodParameter.IsOptional" /></td>
                        </tr>

                        <tr>
                            <th>Order</th>
                            <td><input type="text" class="form-control input-sm" ng-model="ApiMethodParameter.Order" /></td>
                        </tr>

                        <tr>
                            <th>Default Value</th>
                            <td><input type="text" class="form-control input-sm" ng-model="ApiMethodParameter.DefaultValue" /></td>
                        </tr>

                    </tbody>
                </table>
                <div class="pull-right" style="padding-top:5px">
                    <input ng-click="SaveApiMethodParameter()" type="button" class="btn" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
