﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div id="MyCtrl" ng-controller="ApirouteDetailsEditCtrl">
        <form>
            <div class="clearfix" style="overflow:auto">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>
                      
                        <tr>
                            <th>Module RecId</th>
                            <td><select ng-model="Apiroute.ModuleRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in ModuleRecIdDrop"></select></td>

                        </tr>
                        <tr>
                            <th>Description</th>
                            <td><input type="text" class="form-control input-sm" ng-model="Apiroute.Description" /></td>
                        </tr>
                        <tr>
                            <th>Route</th>
                            <td><input type="text" class="form-control input-sm" ng-model="Apiroute.Route" /></td>



                        </tr>
                        <tr>
                            <th>Api Type</th>
                            <td><input type="text" class="form-control input-sm" ng-model="Apiroute.ApiType" /></td>



                        </tr>
                  
                    </tbody>
                </table>
                <div class="pull-right" style="padding-top:5px">
                    <input ng-click="SaveApiRoute()" type="button" class="btn" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
