﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <input type="hidden" id="MyModel" value="{{MyModel}}" />
    <div id="MyCtrl" ng-controller="CustomDataTypeEditCtrl">
        <div class="clearfix" style="overflow:auto;">
            <table class="table" style=" border:1px solid #ddd;">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td><input type="text" class="form-control input-sm" ng-model="cdt.Name" /></td>
                    </tr>
                    <tr>
                        <th>Data Type</th>  
                        <td><select ng-model="cdt.DataType" class="form-control input-sm" ng-change="ChangeDataType($data)" ng-options="g.Id as g.Desc for g in DataTypeDrop"></select></td>
                    </tr>
                    <tr>
                        <th>Default Value</th>
                        <td><input type="text" class="form-control input-sm" ng-model="cdt.DefaultValue" /></td>
                    </tr>
                    <tr>
                        <th>EnumType</th>
                        <td><select ng-model="cdt.EnumType" class="form-control input-sm" ng-options="g.Id as g.Desc for g in EnumTypeDrop"></select></td>
                    </tr>
                    <tr>
                        <th>Label</th>
                        <td><input type="text" class="form-control input-sm" ng-model="cdt.Label" /></td>
                    </tr>
                    <tr>
                        <th>Help Text</th>
                        <td><input type="text" class="form-control input-sm" ng-model="cdt.HelpText" /></td>
                    </tr>
                    <tr>
                        <th>Related Table</th>
                        <td>
                            <!--<autocomplete ng-show="IsCreate" ng-model="SelectedEmp" data="SearchEmp" on-type="UpdateEmp"></autocomplete>-->
                            <div class="autocomplete position-relative">

                                <input type="text" style="height: 30px;" ng-model="cdt.RelatedTable" />
                                <span ng-click="opentablelist()" class="fa fa-search bsdatecalendar"></span>


                            </div>
                            <!--<select ng-model="cdt.RelatedTable" class="form-control input-sm" ng-options="g.Id as g.Desc for g in RelatedTableDrop" ng-change="ChangeRelatedFields()"></select>-->
                        </td>
                    </tr>
                    <tr>
                        <th>Related Field</th>
                        <td>
                        <!--    <select class="form-control input-sm" ng-model="cdt.RelatedField" ng-options="g.Id as g.Desc for g in RelatedTableFieldDrop"></select>-->
                            <div class="autocomplete position-relative">

                                <input type="text" style="height: 30px;" ng-model="cdt.RelatedField" />
                                <span ng-click="openfieldlist()" class="  fa fa-search bsdatecalendar"></span>
                                </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Lookup ControlID</th>
                        <td><select class="form-control input-sm" ng-model="cdt.LookupControlID" ng-options="g.Id as g.Desc for g in LookupControlIDDrop"></select></td>
                    </tr>
                </tbody>
            </table>
            <input ng-click="SaveType()" style="margin-top:10px;" type="button" class="btn pull-right" value="save" />
        </div>
    </div>

</body>
</html>
