﻿
<div id="MyCtrl" ng-controller="TreeViewCtrl">
    <div id="MetaDbFieldpopup" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnclose" ng-click="closepopup()" class="close closepopup" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">
                        Field List
                      
                    </h4>
                    <p class="popupdesp"></p>
                </div>
                <div class="modal-body">
                    <div id="popupcontent" class="tablediv">
                        <div class="tablerow">
                            <label class="tablecell cellbold" style="padding:8px;">Tables :</label>
                           
                                <select ng-model="FieldTablesDrop" style="height: 30px;line-height: 30px;margin-left: 20px;" ng-change="ChangeTableEvent(FieldTablesDrop)" ng-options="g.Id as g.Desc for g in DSTablesDrop"></select>
                           
                        </div>

                    </div>

                    <table class="table table-bordered table-striped" ng-show="ChangeTableFieldList.length>0">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>
                                    <a href="#" ng-click="sortType1 = ' RecId'; sortReverse1 = !sortReverse1">
                                        RecId
                                        <span ng-show="sortType1 == 'RecId' && !sortReverse1" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType1 == 'RecId' && sortReverse1" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                               
                                <th>
                                    <a href="#" ng-click="sortType1 = 'Field'; sortReverse1 = !sortReverse1">
                                        FieldName
                                        <span ng-show="sortType1 == 'Field' && !sortReverse1" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType1 == 'Field' && sortReverse1" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType1 = 'TableId'; sortReverse1 = !sortReverse1">
                                        Table Name
                                        <span ng-show="sortType1 == 'TableId' && !sortReverse1" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType1 == 'TableId' && sortReverse1" class="fa fa-caret-up"></span>
                                    </a>
                                </th>

                            </tr>
                            <tr>
                                <td></td>
                                <td> <input type="text" ng-model="search1.RecId" /></td>                              
                                <td> <input type="text" ng-model="search1.Field" /> </td>
                                <td> <input type="text" ng-model="search1.TableName" /> </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in ChangeTableFieldList | orderBy:sortType1:sortReverse1 | filter:search1 ">                             
                                <td><input type="checkbox" name="selectedInvoice[]"  ng-model="list.selected"></td>                              
                                <td>{{list.RecId}}</td>
                                <td>{{list.Field}}</td>
                                <td>{{list.TableName}}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="closepopup()" id="close" class="closepopup btn btn-warning">Cancel</button>
                    <button type="button" ng-click="submitfield()" class="btn btn-success">OK</button>
                </div>
            </div>

        </div>

    </div>
</div>

