﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="MyCtrl" ng-controller="DataSourceDetailsEditCtrl">
        <form>
            <div class="clearfix" style="overflow:auto">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>
                        <tr>
                            <th>ChildTableAlias</th>
                            <td>
                                <!--<select ng-model="DJoin.ChildTableAlias" ng-change="ChildAliasChange(DJoin.ChildTableAlias)" ng-options="g.Id as g.Desc for g in ParentTableAliasDrop"></select>-->
                                <input type="text" class="form-control input-sm" ng-model="DJoin.ChildTableAlias" readonly />
                            </td>
                        </tr>
                        <tr>
                            <th>ChildTableField</th>
                            <td><select class="form-control input-sm" ng-model="DJoin.ChildTableField" ng-change="Getsamedatatype()" ng-options="g.Id as g.Desc for g in ChildTableFieldDrop"></select></td>
                        </tr>
                        <tr>
                            <th>ParentTableAlias</th>
                            <td><input type="text" class="form-control input-sm" ng-model="DJoin.ParentTableAlias" readonly/></td>
                        </tr>
                        <tr>
                            <th>ParentTableJoinField</th>
                            <td><select class="form-control input-sm" ng-model="DJoin.ParentTableJoinField" ng-options="g.Id as g.Desc for g in GetParentFieldByDataTypeDrop"></select></td>
                        </tr>

                        <tr>
                            <th>JoinConditionType</th>
                            <td><select ng-model="DJoin.JoinConditionType" class="form-control input-sm" ng-options="g.Id as g.Desc for g in JoinTypeDrop"></select></td>
                        </tr>
                    </tbody>
                </table>
                <div class="pull-right" style="padding-top:5px">
                    <input ng-click="SaveDJoin()" type="button" class="btn" value="save" />
                </div>
            </div>

        </form>
    </div>
</body>
</html>

