﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div id="MyCtrl" ng-controller="DataSourceDetailsEditCtrl">
        <form>
            <div class="clearfix" style="overflow:auto">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>
                        <tr>
                            <th>Alias</th>
                            <td><input type="text" class="form-control input-sm" ng-model="Dtable.Alias" /></td>
                        </tr>
                        <tr>
                            <th>Parent Alias</th>
                            <td><select ng-model="Dtable.ParentTableAlias" class="form-control input-sm" ng-options="g.Id as g.Desc for g in ParentTableAliasDrop"></select></td>
                        </tr>
                        <tr>
                            <th>Table</th>
                            <td><select ng-model="Dtable.TableId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in TableExternalDrop"></select></td>


                        </tr>
                        <tr>
                            <th>Join Type</th>
                            <td><select ng-model="Dtable.JoinType" class="form-control input-sm" ng-options="g.Id as g.Desc for g in JoinTypeDrop"></select></td>


                        </tr>

                    </tbody>
                </table>
                <div class="pull-right" style="padding-top:5px">
                    <input ng-click="SaveDTable()" type="button" class="btn" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
