﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <div id="MyCtrl" ng-controller="DataSourceDetailsEditCtrl">

        <div class="clearfix" style="overflow:auto;">
            <table class="table" style=" border:1px solid #ddd;">
                <tbody>
                    <tr>
                        <th>Alias</th>

                        <td><select class="form-control input-sm" ng-model="DOrder.Alias" ng-click="WhereAliasChange(DOrder.Alias)" ng-init="WhereAliasChange(DOrder.Alias)" ng-options="g.Id as g.Desc for g in ParentTableAliasDrop"></select></td>
                    </tr>

                    <tr>
                        <th>Field</th>
                        <td><select class="form-control input-sm" ng-model="DOrder.Field" ng-options="g.Id as g.Desc for g in WhereFieldDrop"></select></td>
                    </tr>

                    <tr>
                        <th>Direction</th>
                        <td><select class="form-control input-sm" ng-model="DOrder.Direction" ng-options="g.Id as g.Desc for g in DirectionDrop"></select></td>
                    </tr>

                    <tr>
                        <th>SortOrder</th>
                        <td><input class="form-control input-sm" type="text" ng-model="DOrder.SortOrder" /></td>
                    </tr>

                    <tr>
                        <th>Status</th>
                        <td><select class="form-control input-sm" ng-model="DOrder.Status" ng-options="g.Id as g.Desc for g in StatusDrop"></select></td>
                    </tr>

                </tbody>

            </table>

            <div class="pull-right" style="padding-top:5px">
                <input ng-click="SaveDOrder()" type="button" class="btn" value="Save" />
            </div>
        </div>

    </div>

</body>
</html>
