﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
 </head>
<body>
    <div id="MyCtrl" ng-controller="DataSourceDetailsEditCtrl">
        <div class="clearfix" style="overflow:auto">
            <table class="table" style=" border:1px solid #ddd;">
                <tbody>
                    <tr>
                        <th>Alias</th>
                        <td><select class="form-control input-sm" ng-model="DField.DataSourceTableRecId" ng-click="WhereAliasChange(DField.DataSourceTableRecId)" ng-init="WhereAliasChange(DField.Alias)" ng-options="g.Id as g.Desc for g in ParentTableAliasDrop"></select></td>
                    </tr>
                    <tr>
                        <th>Field</th>
                        <td><select class="form-control input-sm" ng-model="DField.Field" ng-options="g.Id as g.Desc for g in WhereFieldDrop"></select></td>
                    </tr>
                    <!--<tr>
                        <th>DataType</th>
                        <td><select class="form-control input-sm" ng-model="DField.DataType" ng-options="g.Id as g.Desc for g in DataTypeDrop"></select></td>
                    </tr>-->
                    <!--<tr>
                        <th>Custom Data Type</th>
                        <td><select class="form-control input-sm" ng-model="DField.CDT" ng-click="CdtChange(DField.CDT)" ng-options="g.Id as g.Desc for g in CDTDrop"></select></td>
                    </tr>-->
                    <tr>
                        <th>IsMandatory</th>
                        <td><input type="checkbox" ng-model="DField.IsMandatory" /></td>
                    </tr>
                    <tr>
                        <th>Label</th>
                        <td><input type="text" class="form-control input-sm" ng-model="DField.Label" /></td>
                    </tr>
                    <tr>
                        <th>Help Text</th>
                        <td><input type="text" class="form-control input-sm" ng-model="DField.HelpText" /></td>
                    </tr>
                    <tr>
                        <th>Aggregate Function</th>
                        <td><input type="text" class="form-control input-sm" ng-model="DField.AggFunction" /></td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right" style="padding-top:5px">
                <input ng-click="SaveDField()" type="button" class="btn" value=" save" />
            </div>
        </div>
    </div>
</body>
</html>
