﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div id="MyCtrl" ng-controller="DataSourceEditCtrl">
        <form ng-submit="SaveSource()">
            <div class="clearfix" style="overflow:auto;">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td><input type="text" class="form-control input-sm" ng-model="src.Name" required /></td>
                        </tr>
                        <tr>
                            <th>Label</th>
                            <td><input type="text" class="form-control input-sm" ng-model="src.Label" required /></td>
                            <!-- <td><select ng-model="src.Label" class="form-control input-sm" ng-options="g.Id as g.Desc for g in LabelIdDrop"></select></td>-->
                        </tr>
                        <tr>
                            <th>DataSourceType</th>
                            <td><select ng-model="src.Type" class="form-control input-sm" ng-options="g.Id as g.Desc for g in DataSourceTypeIdDrop" required></select></td>
                        </tr>
                        <tr>
                            <th>Api</th>
                            <td><select ng-model="src.APIMethodRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in DataSourceApiTypeIdDrop" ></select></td>
                        </tr>
                        <tr>
                            <th>OutPut Path</th>
                            <td>
                                <input type="text" class="form-control input-sm" ng-model="src.DataSourceOutPutPath"  />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pull-left" style="padding-top:10px">
                    <input type="submit" class="btn" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
