﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="MyCtrl" ng-controller="DataSourceDetailsEditCtrl">
        <div class="clearfix" style="overflow:auto;">
            <table class="table" style=" border:1px solid #ddd;">
                <tbody>
                    <tr>
                        <th>Alias</th>
                        <td><select ng-model="DWhere.Alias" ng-init="WhereAliasChange(DWhere.Alias)" ng-click="WhereAliasChange(DWhere.Alias)" ng-options="g.Id as g.Desc for g in ParentTableAliasDrop"></select></td>
                    </tr>
                    <tr>
                        <th>Field</th>
                        <td><select class="form-control input-sm" ng-model="DWhere.Field" ng-options="g.Id as g.Desc for g in WhereFieldDrop"></select></td>
                    </tr>
                    <tr>
                        <th>Operator</th>
                        <td><select class="form-control input-sm" ng-model="DWhere.Operator" ng-options="g.Id as g.Desc for g in OperatorDrop"></select></td>
                    </tr>
                    <tr>
                        <th>Value</th>
                        <td><input type="text" class="form-control input-sm" ng-model="DWhere.Value" /></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td><select class="form-control input-sm" ng-model="DWhere.Status" ng-options="g.Id as g.Desc for g in StatusDrop"></select></td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right" style="padding-top:10px">
                <input ng-click="SaveDWhere()" type="button" class="btn" value=" save" />
            </div>
        </div>
    </div>
</body>
</html>
