﻿

<style>
    tr#tableapp {
        height: 40px;
    }

    #tableapp tr td {
        vertical-align: middle;
    }
</style>



<a class="themeprimary gridicon" ng-click="popupclick()" id="gridmenus" href="#">
    <i class="fa fa-filter"></i>
</a>


<div class="modal" id="viewfilterpopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeviewpop()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Filter</h4>
            </div>

            <ul class="nav nav-tabs">
                <li class="active replyTy" data-stat="Internal" style="border: 1px solid #ffd800;">
                    <a href=" #searchtab" data-toggle="tab" aria-expanded="true" id="IdEditInternalType">
                        Search
                    </a>
                </li>
                <li class="tab-red replyTy" data-stat="External" style="border: 1px solid #d5d5d5;">
                    <a href="#viewtab" id="IdEditExternalType" data-toggle="tab" class="Stageta" aria-expanded="false">
                        Views
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="searchtab">

                    <div class="modal-body clearfix">
                        <!--<input type="hidden" id="popuplist" ng-click="popupclick()" />-->



                        <div class="widget">
                            <div class="widget-header">
                                <label class="widget-caption">Search</label>
                                <div class="widget-buttons">

                                    <a href="" widget-maximize=""><i class="fa fa-expand"></i></a>
                                    <a href="" widget-collapse=""><i class="fa fa-minus"></i></a>
                                </div>
                            </div>
                            <div class="widget-body">

                                <table class="table table-bordered table-hover table-condensed" id="tableline">
                                    <tr style="font-weight: bold">

                                        <td style="width:25%">TableName</td>
                                        <td style="width:20%">FieldName</td>
                                        <td style="width:20%">Condition</td>
                                        <td style="width:20%">Value</td>
                                        <!--<td>Alias</td>-->
                                        <td style="width:10%"></td>
                                    </tr>
                                    <tr ng-repeat="CurrentItem in filtersearch" id="tableapp" valign="top">


                                        <td>

                                            <b> {{CurrentItem.TableName }}</b>
                                        </td>
                                        <td>
                                            <b>{{CurrentItem.Field}}</b>
                                        </td>
                                        <td>
                                            <b> {{CurrentItem.Condition }}</b>
                                        </td>
                                        <td>
                                            <b> {{CurrentItem.Value }}</b>
                                        </td>
                                        <!--<td>
                                            <b> {{CurrentItem.Alias }}</b>
                                        </td>-->


                                        <td>
                                            <span class="glyphicon glyphicon-trash themeprimary " ng-click="deleteItem($index)"></span>




                                        </td>

                                    </tr>


                                    <tr>


                                        <td>
                                            <select ng-model="user2.TableName" ng-options="g as g for g in AutoTableDetails" ng-change="Fieldname(user2.TableName)" name="TableId"></select>
                                            <!--<select ng-model="user2.TableName" ng-options="g.Id as g.Desc for g in AutoTablenameforOrder" ng-change="ChangeTable(user2.TableName)" name="TableId"></select>-->
                                            <input type="hidden" ng-model="user2.Alias" name="Alias" id="Alias" />
                                        </td>
                                        <td>
                                            <select ng-model="user2.Field" ng-options="g.Id as g.Desc for g in AutoFieldDetails" name="ItemCategoryId"></select>
                                        </td>
                                        <td>
                                            <select ng-model="user2.Condition">
                                                <option value="EQUALS">EQUALS</option>
                                                <option value="NOT EQUALS">NOT EQUALS</option>
                                            </select>
                                            <!--<input type="text" ng-model="user2.Condition" id="itemname" ng-change="AddUpdatePrice(AddLine.SalesQty,AddLine.SalesUnit,AddLine.LineDiscount)" />-->
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" ng-model="user2.Value" id="itemvalue" ng-change="AddUpdatePrice(AddLine.SalesQty,AddLine.SalesUnit,AddLine.LineDiscount)" />
                                        </td>
                                        <!--<td></td>-->

                                        <td>
                                            <span class="glyphicon glyphicon-plus themeprimary" ng-click="AddinQ()"></span>

                                        </td>


                                    </tr>

                                </table>
                            </div>
                        </div>


                        <div class="widget">
                            <div class="widget-header">
                                <label class="widget-caption">Order</label>
                                <div class="widget-buttons">

                                    <a href="" widget-maximize=""><i class="fa fa-expand"></i></a>
                                    <a href="" widget-collapse=""><i class="fa fa-minus"></i></a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <table class="table table-bordered table-hover table-condensed" id="tableline">
                                    <tr style="font-weight: bold">

                                        <td style="width:25%">TableName</td>
                                        <td style="width:20%">FieldName</td>
                                        <td style="width:20%">Direction</td>


                                        <td style="width:10%"></td>
                                    </tr>
                                    <tr ng-repeat="CurrentItem in filterorder" id="tableapp" valign="top">

                                        <td>

                                            <b> {{CurrentItem.TableName }}</b>
                                        </td>
                                        <td>

                                            <b>{{CurrentItem.Field}}</b>
                                        </td>
                                        <td>

                                            <b> {{CurrentItem.Direction }}</b>
                                        </td>



                                        <td>
                                            <span class="glyphicon glyphicon-trash themeprimary " ng-click="deleteorderItem($index)"></span>

                                        </td>

                                    </tr>


                                    <tr>


                                        <td>

                                            <select ng-model="morder.TableName" ng-options="g.Id as g.Desc for g in AutoTableDetailsforOrder" ng-change="ChangeFieldnamefororder(morder.TableName)" name="TableId"></select>




                                        </td>
                                        <td>
                                            <!--<select ng-model="morder.Field" ng-options="g.Id as g.Desc for g in AutoFieldDetailsforOrder" name="ItemCategoryId"></select>-->
                                            <select ng-model="morder.Field" ng-options="g.Id as g.Desc for g in AutoTablefieldDetailsforOrder" name="ItemCategoryId"></select>
                                        </td>
                                        <td>
                                            <select ng-model="morder.Direction">
                                                <option value="Acending">Acending</option>
                                                <option value="Descending">Descending</option>
                                            </select>
                                            <!--<input type="text" ng-model="user2.Condition" id="itemname" ng-change="AddUpdatePrice(AddLine.SalesQty,AddLine.SalesUnit,AddLine.LineDiscount)" />-->
                                        </td>



                                        <td>
                                            <span class="glyphicon glyphicon-plus themeprimary" ng-click="AddorderinQ()"></span>

                                        </td>


                                    </tr>

                                </table>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-primary" ng-click="ClearView()">Clear View</button>-->
                        <!--<button type="button" class="btn btn-primary" ng-click="showview()">Find</button>-->
                        <button type="button" class="btn btn-primary" ng-click="FindHere()">Find</button>

                    </div>
                </div>
                <div class="tab-pane fade in" id="viewtab">
                    <div class="widget">
                        <div class="widget-header">
                            <label class="widget-caption">Views</label>
                            <div class="widget-buttons">

                                <a href="" widget-maximize=""><i class="fa fa-expand"></i></a>
                                <a href="" widget-collapse=""><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="widget-body" style="height: 350px;overflow: scroll;">

                            <table class="table table-bordered table-hover table-condensed" id="tableline">

                                <tr ng-repeat="ViewItem in TableViews" id="tableapp" valign="top">


                                    <td ng-click="ChangeGridView(CurrentDataSource,ViewItem.RecId)">

                                        <b> {{ViewItem.ViewName }}</b>
                                    </td>


                                </tr>




                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="ViewQ()">Save View</button>


                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


<div class="modal" id="ViewAddpopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="viewaddpop()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">View</h4>
            </div>

            <div class="modal-body clearfix">

                <div class="tablerow">
                    <label class="tablecell cellbold">Name:</label>
                    <div class="tablecell">
                        <input type="text" ng-model="txtname.Value" id="itemvalue2" />
                    </div>

                </div>



            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" ng-click="SaveQ(txtname.Value)">Save changes</button>
            </div>
        </div>
    </div>
</div>




