﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div id="MyCtrl" ng-controller="MenuDetailsEditCtrl">
        <form>
            <div class="clearfix" style="overflow:auto">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>
                      
                       
                        <tr>
                            <th>Name</th>
                            <td><input type="text" class="form-control input-sm" ng-model="Menu.Name" /></td>
                        </tr>
                        <tr>
                            <th>Label</th>
                            <td><input type="text" class="form-control input-sm" ng-model="Menu.Label" /></td>



                        </tr>
                       
                  
                    </tbody>
                </table>
                <div class="pull-right" style="padding-top:5px">
                    <input ng-click="SaveMenu()" type="button" class="btn" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
