﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div id="MyCtrl" ng-controller="MenuFieldDetailsEditCtrl">
        <form>
            <div class="clearfix" style="overflow:auto">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>
                        <tr>
                            <th>Field Type</th>
                            <td><select ng-model="MenuField.FieldType" class="form-control input-sm" ng-options="g.Id as g.Desc for g in FieldTypeDrop"></select></td>
                        </tr>
                        <!--<tr>
                            <th>Parent RecId</th>
                            <td><select ng-model="MenuField.ParentRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in ParentRecIdDrop"></select></td>

                        </tr>-->
                        <tr>
                            <th>MenuItem RecId</th>
                            <td><select ng-model="MenuField.MenuItemRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in MenuItemRecIdDrop"></select></td>

                        </tr>
                        <tr>
                            <th>Label</th>
                            <td><input type="text" class="form-control input-sm" ng-model="MenuField.Label" /></td>
                        </tr>
                        <tr>
                            <th>Order</th>
                            <td><input type="text" class="form-control input-sm" ng-model="MenuField.Order" /></td>

                            <!--  <td><select ng-model="MenuField.Order" class="form-control input-sm" ng-options="g.Id as g.Desc for g in OrderDrop"></select></td>-->

                        </tr>

                        <tr>
                            <th>IsVisible</th>
                            <td><input type="checkbox" class="form-control input-sm" id="IsVisible" ng-model="MenuField.IsVisible" /></td>
                        </tr>

                    </tbody>
                </table>
                <div class="pull-right" style="padding-top:5px">
                    <input ng-click="SaveMenuField()" type="button" class="btn" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
