﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div id="MyCtrl" ng-controller="MenuItemDetailsEditCtrl">
        <form>
            <div class="clearfix" style="overflow:auto">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>
                        <tr>
                            <th>Description</th>
                            <td><input type="text" class="form-control input-sm" ng-model="MenuItem.Description" /></td>
                        </tr>
                        <tr>
                            <th>Label</th>
                            <td><input type="text" class="form-control input-sm" ng-model="MenuItem.Label" /></td>
                        </tr>
                        <tr>
                            <th>HelpText</th>
                            <td><input type="text" class="form-control input-sm" ng-model="MenuItem.HelpText" /></td>
                        </tr>
                        <tr>
                            <th>Module RecId</th>
                            <td><select ng-model="MenuItem.ModuleRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in ModuleRecIdDrop"></select></td>

                        </tr>
                        <tr>
                            <th>MenuItem Type</th>
                            <td><select ng-model="MenuItem.MenuItemType" class="form-control input-sm" ng-options="g.Id as g.Desc for g in MenuItemTypeDrop"></select></td>

                        </tr>
                        <tr>
                            <th>Display Type</th>
                            <td><select ng-model="MenuItem.DisplayType" class="form-control input-sm" ng-options="g.Id as g.Desc for g in DisplayTypeDrop"></select></td>

                        </tr>
                        <tr>
                            <th>ImageRecId</th>
                            <td><select ng-model="MenuItem.ImageRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in ImageRecIdDrop"></select></td>

                        </tr>
                        <tr>
                            <th>ImageDisplay Mode</th>
                            <td><select ng-model="MenuItem.ImageDisplayMode" class="form-control input-sm" ng-options="g.Id as g.Desc for g in ImageDisplayModeDrop"></select></td>

                        </tr>

                        <tr>
                            <th>NavUrl</th>
                            <td><input type="text" class="form-control input-sm" ng-model="MenuItem.NavUrl" /></td>



                        </tr>
                        <!--<tr>
                            <th>ImageDisplay Mode</th>
                            <td><select ng-model="MenuItem.ImageDisplayMode" class="form-control input-sm" ng-options="g.Id as g.Desc for g in ImageDisplayModeDrop"></select></td>

                        </tr>-->
                        <tr>
                            <th>Nav Target</th>
                            <td><select ng-model="MenuItem.NavTarget" class="form-control input-sm" ng-options="g.Id as g.Desc for g in NavTargetDrop"></select></td>

                        </tr>
                        <tr>
                            <th>APIMethod RecId</th>
                            <td><select ng-model="MenuItem.APIMethodRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in APIMethodRecIdDrop"></select></td>

                        </tr>
                        <tr>
                            <th>Allow MultiSelect</th>
                            <td><input type="checkbox" class="form-control input-sm" id="AllowMultiSelect" ng-model="MenuItem.AllowMultiSelect" /></td>
                        </tr>
                        <tr>
                            <th>IsVisible</th>
                            <td><input type="checkbox" class="form-control input-sm" id="IsVisible" ng-model="MenuItem.IsVisible" /></td>
                        </tr>

                    </tbody>
                </table>
                <div class="pull-right" style="padding-top:5px">
                    <input ng-click="SaveMenuItem()" type="button" class="btn" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
