﻿<!--<div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
        <span class="glyphicon"
              ng-class="{
      'glyphicon-chevron-right': collapsed,
      'glyphicon-chevron-down': !collapsed
    }"></span>
    </a>
    {{node.title}}
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes  | filter:{ ParentId: node.RecId }" ui-tree-node ng-include="'/app/MetaDB/Views/nodes_renderer.html'">
    </li>
</ol>-->



<div class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs"  ng-click="toggle(this)">
        <span class="glyphicon"
              ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
    </a>
    {{node.Name}}
    <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
        <span class="glyphicon glyphicon-plus"></span>
    </a>-->
</div>
<ol  ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in externoutputlist  | filter:{ ParentId: node.RecId }"  ng-include="'/app/MetaDB/Views/nodes_renderer.html'">
    </li>
</ol>