﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div id="MyCtrl" ng-controller="PagesEditCtrl">
        <form>
            <div class="clearfix" style="overflow:auto">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>

                        <tr>
                            <th>DataSource RecId</th>
                            <td><select ng-model="Pages.DataSourceRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in DataSourceRecIdDrop"></select></td>

                        </tr>
                        <tr>
                            <th>Title</th>
                            <td><input type="text" class="form-control input-sm" ng-model="Pages.Title" /></td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td><input type="text" class="form-control input-sm" ng-model="Pages.Description" /></td>
                        </tr>
                        <tr>
                            <th>Page Type</th>
                            <td><select ng-model="Pages.PageType" class="form-control input-sm" ng-options="g.Id as g.Desc for g in PageTypeDrop"></select></td>




                        </tr>

                    </tbody>
                </table>
                <div class="pull-right" style="padding-top:5px">
                    <input ng-click="SavePages()" type="button" class="btn" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
