﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div id="MyCtrl" ng-controller="PageGroupEditCtrl">
        <form>
            <div class="clearfix" style="overflow:auto">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>

                        <!--<tr>
                            <th>Page RecId</th>
                            <td><select ng-model="PageGroup.PageRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in PageRecIdDrop"></select></td>

                        </tr>-->
                        <tr>
                            <th>ParentGroup RecId</th>
                            <td><select ng-model="PageGroup.ParentGroupRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in ParentGroupRecIdDrop"></select></td>

                        </tr>
                        <tr>
                            <th>Title</th>
                            <td><input type="text" class="form-control input-sm" ng-model="PageGroup.Title" /></td>
                        </tr>
                        <tr>
                            <th>GroupType</th>
                            <td><input type="text" class="form-control input-sm" ng-model="PageGroup.GroupType" /></td>
                        </tr>
                        <tr>
                            <th>Columns</th>
                            <td><input type="text" class="form-control input-sm" ng-model="PageGroup.Columns" /></td>
                        </tr>
                        <tr>
                            <th>Display Style</th>
                            <td><input type="text" class="form-control input-sm" ng-model="PageGroup.DisplayStyle" /></td>
                        </tr>
                        <tr>
                            <th>Orientation</th>
                            <td><input type="text" class="form-control input-sm" ng-model="PageGroup.Orientation" /></td>
                        </tr>                        
                        <tr>
                            <th>Group Source</th>
                            <td><select ng-model="PageGroup.GroupSource" class="form-control input-sm" ng-options="g.Id as g.Desc for g in GroupSourceDrop"></select></td>

                        </tr>
                        <tr>
                            <th>Provider Id</th>
                            <td><select ng-model="PageGroup.ProviderId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in ProviderIdDrop"></select></td>

                        </tr>
                        <tr>
                            <th>RefGroup RecId</th>
                            <td><select ng-model="PageGroup.RefGroupRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in RefGroupRecIdDrop"></select></td>

                        </tr>

                    </tbody>
                </table>
                <div class="pull-right" style="padding-top:5px">
                    <input ng-click="SavePageGroup()" type="button" class="btn" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
