﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div id="MyCtrl" ng-controller="PageGroupFieldEditCtrl">
        <form>
            <div class="clearfix" style="overflow:auto">
                <table class="table" style=" border:1px solid #ddd;">
                    <tbody>

                        <!--<tr>
                            <th>Page RecId</th>
                            <td><select ng-model="PageGroupField.PageGroupRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in PageGroupRecIdDrop"></select></td>

                        </tr>-->
                        <tr>
                            <th>Element Type</th>
                            <td><select ng-model="PageGroupField.ElementType" class="form-control input-sm" ng-change="ElementTypeChange($data)" ng-options="g.Id as g.Desc for g in ElementTypeDrop"></select></td>

                        </tr>
                        <tr>
                            <th>ElementRef RecId</th>
                            <td><select ng-model="PageGroupField.ElementRefRecId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in ElementRefRecIdDrop"></select></td>

                        </tr>
                        <tr>
                            <th>ElementName</th>
                            <td><input type="text" class="form-control input-sm" ng-model="PageGroupField.ElementName" /></td>
                        </tr>
                        <tr>
                            <th>Label</th>
                            <td><input type="text" class="form-control input-sm" ng-model="PageGroupField.Label" /></td>
                        </tr>


                        <tr>
                            <th>IsEditable</th>
                            <td><input type="checkbox" class="form-control input-sm" id="IsEditable" ng-model="PageGroupField.IsEditable" /></td>
                        </tr>
                        <tr>
                            <th>IsVisible</th>
                            <td><input type="checkbox" class="form-control input-sm" id="IsVisible" ng-model="PageGroupField.IsVisible" /></td>
                        </tr>
                        <tr>
                            <th>IsReadOnly</th>
                            <td><input type="checkbox" class="form-control input-sm" id="IsReadOnly" ng-model="PageGroupField.IsReadOnly" /></td>
                        </tr>
                        <tr>
                            <th>IsMandatory</th>
                            <td><input type="checkbox" class="form-control input-sm" id="IsMandatory" ng-model="PageGroupField.IsMandatory" /></td>
                        </tr>

                    </tbody>
                </table>
                <div class="pull-right" style="padding-top:5px">
                    <input ng-click="SavePageGroupField()" type="button" class="btn" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
