﻿
<div id="MyCtrl" >
    <div id="PageEventpopup" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">                 
                    <button type="button" id="btnclose" ng-click="closepageeventpopup()" class="close closepopup" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">
                        Page Event
                        <span class="btn pull-right margin-right-5" ng-show="PageEventNew == true && PageEventList.length >0 ||PageEventChild ==true && PageEventList.length >0 " ng-click="BacktoList()"><i class="fa fa-mail-reply"></i></span>
                        <span class="btn pull-right margin-right-5" ng-hide="PageEventNew == true ||PageEventChild ==true" ng-click="DeletePageEventClick(PageEventList)"><i class="fa fa-trash"></i></span>
                        <span class="btn pull-right margin-right-5" ng-hide="PageEventNew == true ||PageEventChild ==true" ng-click="CreatePageEventClick()"><i class="fa fa-edit"></i></span>
                        <span class="btn pull-right margin-right-5" ng-hide="PageEventNew == true ||PageEventChild ==true"  ng-click="visiblefilter1 = !visiblefilter1"><i class="fa fa-search"></i></span>
                    </h4>
                    <p class="popupdesp"></p>
                </div>
                <div class="modal-body">
                    <div class="halfcell tablediv" ng-show="PageEventChild==true || PageEventList.length==0">
                      
                        <div class="tablerow">
                            <div class="tablecell parentcell">
                                <div class="form-titlen">
                                    Page Event Create
                                </div>
                                <div class="tablediv">
                                    <div class="tablerow">
                                        <label class="tablecell cellbold">Event Name:</label>
                                        <div class="tablecell">
                                            <select ng-model="PageEvent.EventId" class="form-control input-sm" ng-options="g.Id as g.Desc for g in EventNameDrop"></select>
                                        </div>

                                        <label class="tablecell cellbold">Method Name :</label>
                                        <div class="tablecell">
                                            <input type="text" class="form-control input-sm" ng-model="PageEvent.MethodName" />
                                        </div>


                                    </div>
                                </div>
                                <input type="hidden" id="fieldid" value="{{FieldIdModel}}" />
                                <input type="hidden" id="pagegrprecid" value="{{PageGroupModelRecId}}" />
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer " ng-show="PageEventChild==true || PageEventList.length==0">
                      
                        <button type="button" ng-click="SavePageEvent()" class="btn btn-success">Save</button>
                    </div>

               
                    <table class="table table-bordered table-striped" ng-show="!PageEventChild && PageEventList.length>0">
                        <thead>
                            <tr>
                                <th>Action</th>
                              
                                <th>
                                    <a href="#" ng-click="sortType1 = ' PageEventId'; sortReverse1 = !sortReverse">
                                        PageEvent Id
                                        <span ng-show="sortType1 == 'PageEventId' && !sortReverse1" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType1 == 'PageEventId' && sortReverse1" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType1 = 'Page'; sortReverse1 = !sortReverse1">
                                        Page
                                        <span ng-show="sortType1 == 'Page' && !sortReverse1" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType1 == 'Page' && sortReverse1" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType1 = ' PageGroup'; sortReverse1 = !sortReverse1">
                                        Page Group
                                        <span ng-show="sortType1 == 'PageGroup' && !sortReverse1" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType1 == 'PageGroup' && sortReverse1" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType1 = 'PageGroupField'; sortReverse1 = !sortReverse1">
                                        Page GroupField
                                        <span ng-show="sortType1 == 'PageGroupField' && !sortReverse1" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType1 == 'PageGroupField' && sortReverse1" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType1 = 'Event'; sortReverse1 = !sortReverse1">
                                        Event
                                        <span ng-show="sortType1 == 'Event' && !sortReverse1" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType1 == 'Event' && sortReverse1" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType1 = 'MethodName'; sortReverse1 = !sortReverse1">
                                        MethodName
                                        <span ng-show="sortType1 == 'MethodName' && !sortReverse1" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType1 == 'MethodName' && sortReverse1" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                            </tr>
                            <tr ng-show="visiblefilter1">
                                <td></td>
                                <td><input type="text" ng-model="search1.RecId" /></td>
                                <td><input type="text" ng-model="search1.PageEn" /> </td>
                                <td><input type="text" ng-model="search1.PageGroupEn" /> </td>
                                <td><input type="text" ng-model="search1.FieldEn" /> </td>
                                <td><input type="text" ng-model="search1.EventEn" /> </td>
                                <td><input type="text" ng-model="search1.MethodName" /> </td>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in PageEventList | orderBy:sortType1:sortReverse1 | filter:search1">                              

                                <td><a ng-click="SwitchProperty(list.RecId,220,list)" class="fa fa-pencil"></a>|<input type="checkbox" name="selectedEvent[]" ng-model="list.selected"></td>

                                <td>{{list.RecId}}</td>
                                <td>{{list.PageEn}}</td>
                                <td>{{list.PageGroupEn}}</td>
                                <td>{{list.FieldEn}}</td>
                                <td>{{list.EventEn}}</td>
                                <td>{{list.MethodName}}</td>



                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>
</div>

