﻿
<div id="MyCtrl" >
    <div id="RelatedTableFieldpopup" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnclose" ng-click="closetablefieldpopup()" class="close closepopup" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">
                        Related TableField List
                    

                    </h4>
                    <p class="popupdesp"></p>
                </div>
                <div class="modal-body">
                   

                    <table class="table table-bordered table-striped" ng-show="RelatedTableFieldList.length>0">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>
                                    <a href="#" ng-click="sortType1 = ' FieldId'; sortReverse1 = !sortReverse1">
                                        Field Id
                                        <span ng-show="sortType1 == 'FieldId' && !sortReverse1" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType1 == 'FieldId' && sortReverse1" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType1 = ' FieldName'; sortReverse1 = !sortReverse1">
                                        Field Name
                                        <span ng-show="sortType1 == 'FieldName' && !sortReverse1" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType1 == 'FieldName' && sortReverse1" class="fa fa-caret-up"></span>
                                    </a>
                                </th>


                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="text" ng-model="search1.Id" /></td>
                                <td><input type="text" ng-model="search1.Desc" /> </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  ng-repeat="list in RelatedTableFieldList | orderBy:sortType1:sortReverse1 | filter:search1">
                              

                                <td><input type="checkbox"class="fa fa-check-square-o" name="selectedInvoice[]" ng-model="list.selected"></td>
                            
                               
                                <td>{{list.Id}}</td>
                                <td>{{list.Desc}}</td>


                            </tr>
                        </tbody>
                    </table>

                </div>
                <!--<div class="modal-footer">
                    <button type="button" ng-click="closepopup()" id="close" class="closepopup btn btn-warning">Cancel</button>
                    <button type="button" ng-click="submitfield()" class="btn btn-success">OK</button>
                </div>-->
            </div>

        </div>

    </div>
</div>

