﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
  <style>
        #SelectAll, #SelectAllS {
            float: left;
            margin: 3px 5px 0 5px;
        }

        .Rolls_cender {
            text-align: center;
            margin-top: 172px;
        }

        .roleset {
            padding: 5px 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            display: block;
        }

        .Rolls {
            border: 1px solid #000;
            display: block;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

            .Rolls h5 {
                padding-left: 10px;
            }

        .roleset i {
            color: #fff;
            font-weight: bold;
        }

        .Rolls {
            height: 506px;
        }

        .mCSB_scrollTools {
            display: none !important;
        }

        .Rolls:hover .mCSB_scrollTools {
            display: block !important;
        }
    </style>


    <script>
        $(document).ready(function () {

            $(".close").click(function () {
                $(".modal").hide();
            });

        });
       
    </script>

</head>
<body>
    <div id="MyCtrl" ng-controller="RepositoryEditCtrl">
        <div class="clearfix" style="overflow:auto;">
       
                    <table class="table" style=" border:1px solid #ddd;">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td><input type="text" class="form-control input-sm" id="Name" ng-model="Repository.Name" required /></td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td><input type="text" class="form-control input-sm" id="Description" ng-model="Repository.Description" required /></td>
                            </tr>
                        </tbody>

                    </table>
                <div class="margin-top-10">
                    <button type="button" ng-click="save()" class="btn btn-primary">Save</button>
                    <input ng-if="New==false" type="button" ng-click="GetTableById(Repository.RecId)" class="btn btn-primary" value="Manage" />
                </div>
           
        </div>



        <!--<div class="modal-body">
            <form role="form" class="row">
                <div class="col-lg-12">
                    <div class="form-group col-lg-6  ">
                        <label class="control-label ">Name</label>
                        <input type="text" class="form-control" id="Name" ng-model="Repository.Name" required />
                    </div>

                    <div class="form-group col-lg-6  ">
                        <label class="control-label ">Description</label>
                        <input type="text" class="form-control" id="Description" ng-model="Repository.Description" required />
                    </div>

                </div>




            </form>
        </div>
        <div class="modal-footer">
           
            <input ng-if="New==false" type="button" ng-click="GetTableById(Repository.RecId)" value="Manage" />

            <button type="button" ng-click="save()" class="btn btn-primary">Save</button>
        </div>-->





        <div class="modal" id="tablepopup">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Repository</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-lg-5">
                                <div class="Rolls mCustomScrollbar">
                                    <input type="hidden" id="rephd" />
                                    <h5 class="themeprimary">Tables</h5>
                                    <table width="100%">




                                        <tr ng-repeat="s in ReposTables" ng-if="s.IsTable==false">
                                            <td>
                                              
                                                <input type="checkbox" class="ckbRoll" id="{{s.TableId}}" />
                                            </td>

                                            <td>
                                                {{s.TableName}}
                                            </td>



                                        </tr>



                                    </table>

                                </div>
                                <!--<div id="Selectall_Rolls">SelectRoll<span class="selectall">Select All</span></div>-->
                            </div>
                            <div class="col-lg-2 Rolls_cender">
                                <a id="AssignRole" class="roleset bg-themeprimary" ng-click="AssignTable()"><i class="glyphicon glyphicon-forward"></i></a>
                                <a id="DeleteRole" class="roleset bg-themeprimary" ng-click="DeleteTable()"><i class="glyphicon glyphicon-backward"></i></a>
                            </div>
                            <div class="col-lg-5">

                                <div class="Rolls mCustomScrollbar">
                                    <h5 class="themeprimary">Selected Tables</h5>
                                    <table width="100%">

                                        <tr ng-repeat="s in ReposTables" ng-if="s.IsTable==true">
                                            <td>
                                             
                                                <input type="checkbox" class="ckbRolls" id="{{s.TableId}}" />
                                            </td>

                                            <td>
                                                {{s.TableName}}
                                            </td>



                                        </tr>


                                    </table>
                                </div>

                                <!--<div id="Selectall_Rolls"> SelectAllS<span class="selectall">Select All</span></div>-->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>













    

</body>
</html>
