﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
  </head>
<body>

    <div id="MyCtrl" ng-controller="MetaFieldEditCtrl">
        <div class="clearfix" style="overflow:auto;">
            <table class="table" style=" border:1px solid #ddd;">
                <tbody>
                    <tr>
                        <th>FieldName</th>
                        <td><input type="text" class="form-control input-sm" id="Fraction" ng-model="Field.FieldName" /></td>
                    </tr>
                    <tr>

                        <th>LabelName</th>
                        <td>
                            <!--<select ng-model="DJoin.ChildTableAlias" ng-change="ChildAliasChange(DJoin.ChildTableAlias)" ng-options="g.Id as g.Desc for g in ParentTableAliasDrop"></select>-->
                            <input type="text" class="form-control" id="FieldName" ng-model="Field.Label" />
                        </td>
                    </tr>
                    <tr>
                        <th>DataType</th>
                        <td>
                            <select ng-model="Field.DataType" class="form-control input-sm" ng-options="g.Id as g.Desc for g in DataTypeDrop"></select>
                        </td>
                        <!--<td><input type="text" class="form-control" id="DataType" ng-model="Field.DataType" /></td>-->
                    </tr>
                    <tr>
                        <th>CDTName</th>
                        <td><select id="CDTId" class="form-control input-sm" ng-model="Field.CDTId" ng-options="g.Id as g.Desc for g in CDTIddrop"></select></td>
                    </tr>
                    <tr>
                        <th>IsUnique</th>
                        <td><input type="checkbox" class="form-control input-sm" id="IsUnique" ng-model="Field.IsUnique" /></td>
                    </tr>
                    <tr>
                        <th>IsVisible</th>
                        <td><input type="checkbox" class="form-control input-sm" id="IsVisible" ng-model="Field.IsVisible" /></td>
                    </tr>
                    <tr>
                        <th>IsReadOnly</th>
                        <td><input type="checkbox" class="form-control input-sm" id="IsReadOnly" ng-model="Field.IsReadOnly" /></td>
                    </tr>
                    <tr>
                        <th>IsMandatory</th>
                        <td><input type="checkbox" class="form-control input-sm" id="IsMandatory" ng-model="Field.IsMandatory" /></td>
                    </tr>

                    <tr>
                        <th>HelpText</th>
                        <td><input type="text" class="form-control input-sm" id="HelpTextId" ng-model="Field.HelpText" /></td>
                    </tr>
                    <tr>
                        <th>DefaultValue</th>
                        <td><input type="text" class="form-control input-sm" id="DefaultValue" ng-model="Field.DefaultValue" /></td>
                    </tr>
                    <tr>
                        <th>EnumType</th>
                        <td><select id="EnumType" class="form-control input-sm" ng-model="Field.EnumType" ng-options="g.Id as g.Desc for g in EnumTypeDrop"></select></td>
                    </tr>
                    <tr>
                        <th>Length</th>
                        <td><input type="text" class="form-control input-sm" id="Length" ng-model="Field.Lenght" /></td>
                    </tr>
                    <tr>
                        <th>Fraction</th>
                        <td><input type="text" class="form-control input-sm" id="Fraction" ng-model="Field.Fraction" /></td>
                    </tr>
                    <tr>
                        <th>DisplayFormat</th>
                        <td><input type="text" class="form-control input-sm" id="Fraction" ng-model="Field.DisplayFormat" /></td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right" style="margin-top:10px;">
                <button type="button" ng-click="save()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</body>
</html>
