﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
   
    <style>
        #SelectAll, #SelectAllS {
            float: left;
            margin: 3px 5px 0 5px;
        }

        .Rolls_cender {
            text-align: center;
            margin-top: 172px;
        }

        .roleset {
            padding: 5px 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            display: block;
        }

        .Rolls {
            border: 1px solid #000;
            display: block;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

            .Rolls h5 {
                padding-left: 10px;
            }

        .roleset i {
            color: #fff;
            font-weight: bold;
        }

        .Rolls {
            height: 506px;
            overflow:auto;
        }

        .mCSB_scrollTools {
            display: none !important;
        }

        .Rolls:hover .mCSB_scrollTools {
            display: block !important;
        }
    </style>
</head>
<body>

    <div id="MyCtrl" ng-controller="MetaFieldEditCtrl">
        <div class="clearfix" style="overflow:auto;">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <td>
                        <input type="text" class="form-control input-sm" id="Name" ng-model="FieldGroup.Name" />
                    </td>
                </tr>
                <tr>
                    <th>
                        Columns
                    </th>
                    <td>
                        <input type="text" class="form-control input-sm" id="Columns" ng-model="FieldGroup.Columns" />
                    </td>
                </tr>
                <tr>
                    <th>
                        DisplayStyle
                    </th>
                    <td>
                        <input type="text" class="form-control input-sm" id="DisplayStyle" ng-model="FieldGroup.DisplayStyle" />
                    </td>
                </tr>
            </table>
            <div class="" style="margin-top:10px;">
                <button type="button" ng-click="savef()" class="btn btn-primary">Save</button>
                <button type="button" ng-if="FieldNew==false" ng-click="GetFieldById(FieldGroup.RecId)" class="btn btn-primary">Add Fields</button>
            </div>
        </div>
        <div class="modal" id="FieldGpopup">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Fields</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-lg-5">
                                <div class="Rolls mCustomScrollbar">
                                    <input type="hidden" id="rephd" />
                                    <h5 class="themeprimary">Fields</h5>
                                    <table width="100%">
                                        <tr ng-repeat="s in FieldGroupName" ng-if="s.IsField==false">
                                            <td>
                                                <input type="checkbox" class="ckbRoll" id="{{s.FieldId}}" />
                                            </td>
                                            <td>
                                                {{s.FieldName}}
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                                <div id="Selectall_Rolls"><input type="checkbox" class="SelectRoll" /><span class="selectall">Select All</span></div>
                            </div>
                            <div class="col-lg-2 Rolls_cender">
                                <a id="AssignRole" class="roleset bg-themeprimary" ng-click="AssignField()"><i class="glyphicon glyphicon-forward"></i></a>
                                <a id="DeleteRole" class="roleset bg-themeprimary" ng-click="DeleteField()"><i class="glyphicon glyphicon-backward"></i></a>
                            </div>
                            <div class="col-lg-5">

                                <div class="Rolls mCustomScrollbar">
                                    <h5 class="themeprimary">Selected Fields</h5>
                                    <table width="100%">

                                        <tr ng-repeat="s in FieldGroupName" ng-if="s.IsField==true">
                                            <td>

                                                <input type="checkbox" class="ckbRolls" id="{{s.FieldId}}" />
                                            </td>
                                            <td>
                                                {{s.FieldName}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div id="Selectall_Rolls"><input type="checkbox" class="SelectAllS" /> <span class="selectall">Select All</span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>
