﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
   
</head>
<body>

    <div id="MyCtrl" ng-controller="MetaTableEditCtrl">
        <div class="clearfix" style="overflow:auto;">
            <table class="table" style=" border:1px solid #ddd;">
                <tbody>
                    <tr>
                        <th>TableName</th>
                        <td><input type="text" class="form-control input-sm" id="TableName" ng-model="Table.TableName" required /></td>
                    </tr>
                    <tr>
                        <th>Label</th>
                        <td><input type="text" class="form-control input-sm" id="Alias" ng-model="Table.Label" required /></td>
                    </tr>
                </tbody>

            </table>
            <div class="pull-right margin-top-10">
                <button type="button" ng-click="save()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</body>
</html>
