﻿@{
    ViewBag.Title = "IndividualSector";
    Layout = "~/Views/Shared/_Default - Copy.cshtml";
}


@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js?@DateTime.Now"></script>*@
<script src="~/assets/js/cdn/angular-cookies.1.4.0.js"></script>
<script src="~/app/IndividualSector/Controllers/JavaScript.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js?@DateTime.Now"></script>
@*<script src="https://rawgit.com/fatlinesofcode/ngDraggable/master/ngDraggable.js?@DateTime.Now"></script>*@
<script src="~/assets/js/ngDraggable.js?@DateTime.Now"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script>window.jQuery || document.write("<script src='~/assets/js/cdn/csv.js'>\x3C/script>")</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script>window.jQuery || document.write("<script src='~/assets/js/cdn/angular-animate.min.1.5.5.js'>\x3C/script>")</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
<script>window.jQuery || document.write("<script src='~/assets/js/cdn/angular-route.min.1.5.5.js'>\x3C/script>")</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script>window.jQuery || document.write("<script src='~/assets/js/cdn/angular-aria.min.1.5.5.js'>\x3C/script>")</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script>window.jQuery || document.write("<script src='~/assets/js/cdn/angular-messages.min.1.5.5.js'>\x3C/script>")</script>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script>window.jQuery || document.write("<script src='~/assets/js/cdn/svg-assets-cache.t-114.js'>\x3C/script>")</script>

<script src="http://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
<script>window.jQuery || document.write("<script src='~/assets/js/cdn/angular-material.1.1.1.js'>\x3C/script>")</script>

<link rel="stylesheet" href="http://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css">
<link href="~/assets/js/cdn/angular-material.1.1.1.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
<script>window.jQuery || document.write("<script src='~/assets/js/cdn/angular-sanitize.1.4.8.js'>\x3C/script>")</script>


<script src="~/Scripts/angular-translate.min.js"></script>
<script src="~/Scripts/angular-translate.js"></script>
<script src="~/Scripts/angularinject.js"></script>

<link href="~/Scripts/autocomplete.css" rel="stylesheet" />
<script src="~/app/DynamicPage/app.js"></script>
<script src="~/app/DynamicPage/ApiCallService.js"></script>
<script src="~/Scripts/mcustomauto.js?"></script>
<script src="~/Scripts/humanize-duration.js"></script>
<script src="~/Scripts/angular-timer.js"></script>
<script src="~/app/DynamicPage/Controller/ChangeLang.js"></script>
<script src="~/app/DynamicPage/Controller/DynamicPage.js"></script>
<script src="http://localhost:60582/api/GetPageEventScript"></script>
<script src="~/app/DynamicPage/Controller/menu.js"></script>
<script src="~/app/DynamicPage/Controller/utilities.js"></script>


<link rel="stylesheet" href="http://textangular.com/dist/textAngular.css" type="text/css">
<link href="~/assets/js/cdn/textAngular.css" rel="stylesheet" />
<script src="~/assets/js/textAngular-rangy.min.js"></script>
<script src="~/assets/js/textAngular-sanitize.min.js"></script>
<script src="~/assets/js/textAngular.min.js"></script>

<script>
    $(document).ready(function () {
        $(".close").click(function () {
            $(this).closest(".modal").hide();
        });


        $("#btnCmtSave").click(function () {

            $(this).css("pointer-events", "none");
            var data = new FormData();


            if (($("#comments").val()).length != 0) {

                var Comments = $("#comments").val();
                data.append("Comments", Comments);
                var Rec = $("#Rec").val();
                data.append("Rec", Rec);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CommentsFollowUpDetails", "IqamaRenewal", new { area = "" })",
                    traditional: true,

                contentType: "multipart/mixed",
                contentType: false,
                processData: false,
                data: data,
                success: successFunc,
                error: errorFunc

            });
        }
        else {
                alert("type any comments");
        $(this).css("pointer-events", "none");
        $("#btnCmtSave").css("pointer-events", "initial");
    }

    function successFunc(data, Status) {
        $("#data1").html(data);
        $("#btnCmtSave").css("pointer-events", "initial");

        $("#comments").val("");
    }

    function errorFunc(data, Status) {
        alert('error');
        $("#btnCmtSave").css("pointer-events", "initial");
    }

    });


    });

    function close() {
        $("#btnclose").hide();
    }

    $(document).on("click", ".dynamicsubmit", function () {
        var form = $(this).closest("form");
        //console.log(form);
        form.submit();
    });




    function cmtbtn(e){
        var data = new FormData();
        var id = $(e).attr("id");

        $("#data1").html("");

        data.append("Ids", id);

        $.ajax({
            type: "POST",
            url: "@Url.Action("CommantFollowUpByProcessStage", "IqamaRenewal", new { area = "" })",
            traditional: true,

        contentType: "multipart/mixed",
        contentType: false,
        processData: false,
        data: data,
        success: function (data, Status) {

            $("#data1").html(data);
            $("#Rec").val(id);



        },
        error: function (data, Status) {
            alert('error');
            $("#Rec").val(id);
        }
        });
        $("#CommantPopup").show();

    }



</script>


<script>
    function attachcustomnew(e) {

        var id = $(e).data("recid");
        var typeid = $(e).data("typeid");
        var viewname = $(e).data("viewname");
        var tablename = $(e).data("tablename");

        $("#attachviewname").val(viewname);

        $("#dataviewname").text(viewname);
        $("#datatablename").text(tablename);

        if (id.length != 0) {
            Recid = id;
            $("#anload").show();
            var data = new FormData();

            data.append("Recid", Recid);
            //data.append("tablename", tablename);
            data.append("typeid", typeid);

            $.ajax({
                type: "POST",
                url: "/AttachmentSetup/ShowAttachmentByMenuId",
                traditional: true,
                data: data,
                //enctype: 'multipart/form-data',
                contentType: false,
                processData: false,
                success: successFunc,
                error: errorFunc
            });
        }
        else {
            alert('Please configure Attachment!!!');
        }

        function successFunc(data, status) {

            $("#AttachPartial11").html(data);
            $("#AttachPopup11").show();
            $("#anload").hide();
        }
        function errorFunc() {
            $("#anload").hide();
            alert('error');
        }
    }

    function attachcustomnew1(e) {
        var id = $(e).data("recid");
        var typeid = $(e).data("typeid");
        var viewname = $(e).data("viewname");
        var tablename = $(e).data("tablename");

        var id = $(e).attr("name");
        var viewname = $(e).attr("title");

        $("#attachviewname").val(viewname);

        $("#dataviewname").text(viewname);
        $("#datatablename").text(tablename);

        if (id.length != 0) {
            Recid = id;
            $("#anload").show();
            var data = new FormData();

            data.append("Recid", Recid);
            //data.append("tablename", tablename);
            data.append("typeid", typeid);

            $.ajax({
                type: "POST",
                url: "/AttachmentSetup/ShowAttachmentByMenuId",
                traditional: true,
                data: data,
                //enctype: 'multipart/form-data',
                contentType: false,
                processData: false,
                success: successFunc,
                error: errorFunc
            });
        }
        else {
            alert('Please configure Attachment!!!');
        }

        function successFunc(data, status) {

            $("#AttachPartial11").html(data);
            $("#AttachPopup11").show();
            $("#anload").hide();
        }
        function errorFunc() {
            $("#anload").hide();
            alert('error');
        }
    }

    function attachcustomnewwithpermission(e) {

        var id = $(e).data("recid");
        var typeid = $(e).data("typeid");
        var viewname = $(e).data("viewname");
        var tablename = $(e).data("tablename");
        var permission = $(e).data("permission");

        var id = $(e).attr("name");
        var viewname = $(e).attr("title");

        $("#attachviewname").val(viewname);
        $("#dataviewname").text(viewname);
        $("#datatablename").text(tablename);

        if (id.length != 0) {
            Recid = id;
            $("#anload").show();
            var data = new FormData();
            data.append("Recid", Recid);
            data.append("typeid", typeid);

            $.ajax({
                type: "POST",
                url: "/AttachmentSetup/ShowAttachmentByMenuId",
                traditional: true,
                data: data,
                //enctype: 'multipart/form-data',
                contentType: false,
                processData: false,
                success: successFunc,
                error: errorFunc
            });
        }
        else {
            alert('Please configure Attachment!!!');
        }

        function successFunc(data, status) {
            $("#AttachPartial11").html(data);
            $("#AttachPopup11").show();
            $("#anload").hide();
            if (permission == "View") {
                $("#AttachData .Uploadfile").css("pointer-events", "none");
                $("#AttachData .Deletefile").css("pointer-events", "none");
            }
            else {
                $("#AttachData .Uploadfile").css("pointer-events", "initial");
                $("#AttachData .Deletefile").css("pointer-events", "initial");
            }
        }
        function errorFunc() {
            $("#anload").hide();
            alert('error');
        }
    }

    function attachcustomForAppend(idn, recid, typeid, viewname) {
        var id = recid;
        var typeid = typeid;
        var viewname = viewname;
        $("#attachviewname").val(viewname);


        if (id.length != 0) {
            Recid = id;

            var data = new FormData();

            data.append("Recid", Recid);
            //data.append("tablename", tablename);
            data.append("typeid", typeid);

            $.ajax({
                type: "POST",
                url: "/AttachmentSetup/ShowAttachmentByMenuId",
                traditional: true,
                data: data,
                //enctype: 'multipart/form-data',
                contentType: false,
                processData: false,
                success: successFunc,
                error: errorFunc
            });
        }
        else {
            alert('Please configure Attachment!!!');
        }

        function successFunc(data, status) {

            $("#" + idn).html(data);


        }
        function errorFunc() {
            alert('error');
        }
    }
    //function startTimer(sectionId) {
    //    debugger;
    //    //$scope.$broadcast('timer-start');
    // document.getElementById(sectionId).getElementsByTagName('timer')[0].start();

    //}

    //function stopTimer(sectionId) {
    //  //  $scope.$broadcast('timer-stop');

    //}


</script>
<style>
    .higlightred {
        color: red !important;
    }
</style>


<div class="main_container ng-cloak" ng-app="IndividualSectorApp">





    <div class="page-container">
        <!-- Page Sidebar -->
        <div class="page-sidebar sidebar-fixed" id="sidebar">
            <!-- Page Sidebar Header-->
            @*@Html.MvcSiteMap().Menu("MenuAngHelperModel")*@
            @*<div class="sidebar-header-wrapper">
                <input type="text" class="searchinput" />
                <i class="searchicon fa fa-search"></i>
                <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
                </div>*@
            <!-- /Page Sidebar Header -->
            <!-- Sidebar Menu -->
            @*<li><a ui-sref="mypage({pageId: 'PGS0000001'})">Page1</a></li>
                <li><a ui-sref="mypage({pageId: 'PGS0000002'})">Page2</a></li>
                <li><a ui-sref="mypage({pageId: 'PGS0000003'})">Page3</a></li>*@
            @*<ul class="nav sidebar-menu">


                    <li>
                        <a ui-sref="Home"> <i class="menu-icon glyphicon glyphicon-home "></i><span class="menu-text">Home</span></a>
                    </li>
                    <li>
                        <a ui-sref="TransactionReason"> <i class="menu-icon glyphicon glyphicon-home "></i><span class="menu-text">Transaction Reason</span></a>
                    </li>

                    <li>
                        <a ui-sref="Contract"> <i class="menu-icon glyphicon glyphicon-user "></i><span class="menu-text">Contract</span></a>
                    </li>
                    <li>
                        <a ui-sref="DeliveryRequest"> <i class="menu-icon glyphicon glyphicon-th-large "></i><span class="menu-text">DeliveryRequest</span></a>
                    </li>
                </ul>*@

            <!-- /Sidebar Menu -->
        </div>
        <!-- /Page Sidebar -->
        <!-- Chat Bar -->
        <!-- /Chat Bar -->
        <!-- Page Content -->
        <div class="page-content">


            <!-- /Page Header -->
            <!-- Page Body -->
            <div class="page-body clearfix">

                <!-- Your Content Goes Here -->
                <div id="container" style="display:none;">
                    <input type="hidden" id="touser" />
                    <input id="hdId" type="hidden" />
                    <input id="hdUserName" type="hidden" value="@User.Identity.Name.ToString()" />
                    <input id="CurrentCustomerID" type="hidden" />
                    <div id="chatarea">
                        <div class="messagelog">

                        </div>
                        <div class="actionpane">
                            <input type="button" id="btnsend" value="Send" />
                        </div>
                        <div class="actionpane">
                            <select id="users">
                                <option value="All">All</option>
                            </select>
                        </div>
                    </div>
                    <div id="dialog" title="Enter your name to start a chat.">
                        <input type="text" id="nick" />
                    </div>
                </div>


                <div id="anload" loading class="modal" style=" background: rgba(0,0,0,.1);">
                    <div class="loadingspin">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom themeprimary" style="display:block;"></i>
                        <span class="white" style="font: 800 13px open sans;">Loading...</span>
                    </div>
                </div>

                <div id="anload1" class="modal" style=" background: rgba(0,0,0,.1);display:none">
                    <div class="loadingspin">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom themeprimary" style="display:block;"></i>
                        <span class="white" style="font: 800 13px open sans;">Loading...</span>
                    </div>
                </div>


                <div class="right_col" role="main">
                    <div class="toolbar-container">

                    </div>




                    <div id="OnDemand" ui-view class="clearfix"></div>

                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>











</div>


<div id="custom_notifications" class="custom-notifications dsp_none" style="display:none;">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>



<style>
    .hideloading {
        display: none !important;
    }
</style>